header{
	background-color: black;
	width: 100%;
	height: 600px;
}
.fixedtop{
	background-color: white;
	width: 100%;
	height: 110px;
	position: fixed;
}
.spotifylogo{
	width: 190px;
	height: 95%;
	margin: 10px;
	float: left;
}
.navbar{
	float: right;
	background-color: white;
	width: 300px;
	height: 100px;
	padding-top: 10px;
}

li{
	display: inline;
	font-size: 15px;
}
.upperimage{
	height: 500px;
	width: 100%;
	color: white;
	text-align: center;
	padding-top: 250px;
}
.h1s{
	
}
.upperimage > img{
	width: 100%;
}
.everyone{
	font-size: 50px;
}
.whatison{
	width: 100%;
	height: 100px;
	background-color: white;
	text-align: center;
}
.question{
	border-bottom: 1px solid green;
}
.middle{
	height: 300px;
	width: 280px;
	float: left;
	margin:20px 20px 20px 60px;
}
.sound{
	height: 100px;
	width: 200px;
	padding-left: 35px;
}
.waves{
	height: 100px;
	width: 200px;
	padding-left: 35px;
}
.telephones{
	height: 100px;
	width: 200px;
	padding-left: 35px;
}
.description{
	text-align: center;
	font-size: 20px; 
}
.h21,.h22,.h23{
	text-align: center;
}

.greendown{
	width: 1000px;
	height: 600px;
	margin-left: 80px;
	margin-top: 500px;
	background-color: #00B172;
	padding: 100px;
}
.h1west{
	margin-left:20px;
	margin-top: 15px;
	border-bottom: 1px solid ;
	float: left;
	color: white;
}

.descriptionwest{
	width: 250px;
	height: 120px;
	margin-top: 110px;
}
.lastthree{
	color: white;
}
.lastps{
	color: white;
}
.centrofinal{
	width: 100px;
	height: 100px;
	float: right;
	margin-right: 100px;
	margin-top: -100px;
}
.imagenwest{
	float: right;
	width: 300px;
	height: 400px;
	background-color: blue;
	background-image: url("./images/spotify-app.jpg");
}

.imagenwest > img{
	float: right;
	width: 300px;
	height: 600px;
	margin-top: -200px;
}

.centrofinal > img {
	width: 100px;
	height: 100px;
	float: right;
	margin-right: 100px;
}















/*	background-image: url("./images/landing.jpg");*/






/*
Colors:

Text: 1A1A1A
Green: 
White: #FFF

*/
