/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.spotify-log {
  height: auto;
  width: 15%;
}
.navItems {
  position: fixed;
  top: 10%;
  right: 10%;
  margin: 0;
  padding: 0;
  list-style-type: none
}

.navItems > li {
  display: inline
  padding: 10%;
}

.landing {
  background-image: url('../images/landing.jpg');
  height: 680px;
  background-size: cover;
  background-position: center center;
  color: #fff;
  margin-top: 40px;
}

.content {
  display: block !important;
  text-align: center;
}
.content h3 {
  font-size: 28px;
  font-weight: 300;
}
.content h1 {
  position: relative;;
  text-align: center;
  font-size: 70px;
  padding-top: 250px;
  margin-bottom: 25px;
}

.spotify {
  display: block;
  text-align: center;
  margin: 30px;
  font-weight: 600;
  font-size: 35px;
}
.spotify:after {

}
