/*============================================================= Helpers =============================================================*/

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

.clear-float {
    float: none !important;
}

.hidden {
    position: fixed;
    top: -999em;
    left: -999em;
}

.no-marg {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.no-marg-top {
    margin-top: 0 !important;
}

.no-marg-bottom {
    margin-bottom: 0 !important;
}

.no-marg-left {
    margin-left: 0 !important;
}

.no-marg-right {
    margin-right: 0 !important;
}

.no-padd {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-padd-top {
    padding-top: 0 !important;
}

.no-padd-bottom {
    padding-bottom: 0 !important;
}

.no-padd-left {
    padding-left: 0 !important;
}

.no-padd-right {
    padding-right: 0 !important;
}

.no-select {
    user-select: none !important;
}
.center {
    @include flexbox(center, center, nowrap);
}
