/* -- General -- */

body {
margin: 0;
color: #1A1A1A;
font-family: 'Open Sans', sans-serif;
}

h2 {
  font-size: 42px;
  font-weight: 500;
}

.hr1 {
  width: 22%;
  height: 0.5%;
  background: #1ED760;
  border-radius: 50px;
}

.hr2 {
  width: 94%;
  height: 0.5%;
  background: #FFF;
  border-radius: 50px;
  margin-left: 0;
}

article {
  margin-bottom: 50px;
}


/* -- Navbar -- */
    
nav {
  position: fixed;
  top: 0;
  width: 100%;
  background: #fff;
}
    
.logo {
  width: 200px;
  display: inline-block;
  margin: 20px 40px;
}

ul {
  display: inline-block;
  float: right;
  margin: 0 20px;
}

ul > li {
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  padding: 40px 20px;
  background: transparent;
}
    
ul > li > a {
  text-decoration: none;
  color: #1A1A1A;
    }

ul > li > a:hover { 
  color: #1ED760;
}


/* -- Block 1 -- */

.head {
  background-image: url("../images/landing.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height:120%;
  color: white;
  margin-top: 30px;
}
 
.head p {
  font-size: 30px;
  margin: 5px 0;
  font-weight: 300;
}
   
h1 {
  text-align: center;
  font-size: 82px;
  font-weight: 500;
  padding-top: 300px;
  margin-bottom: 35px;
}
    
.center {
  text-align: center;
}


/* -- Block 2 -- */

.block-2 {
  margin: 60px auto;
  text-align: center;
}

.second h2:after {
  content: "";
  background-color: #1ED760;
  width: 450px;
  height: 3px;
  margin: 5px auto;
  display: block;
}
    
.category {
  display: inline-block;
  width: 18%;
  vertical-align: top;
  margin: 75px;
}
    
.icons {
  height: 100px;
}
    
h3 {
  color: #1ED760;
  font-size: 26px;
}

p {
  font-size: 25px;
  font-weight: 100;
}


/* -- Block 3 -- */

.block-3 {
  background: #1ED760;
  color: white;
  margin: 50px;
  padding: 50px;
  background-image: url("../images/spotify-icon-white.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 140px 140px;
}

.content {
  display: inline-block;
  vertical-align: text-top;
  width: 45%;
  margin-left: 3%;
}

.app {
  height: 760px;
  margin: 60px 0 30px;
  float: right;
}

.h3-2 {
  font-size: 30px;
  color: #FFF;
}

.items p {
  font-size: 22px;
  font-weight: 300;
  margin: 10px 0 20px 0;
}

    