/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

PONER PADDING MARGIN BORDER 0
*/

body{
  font-family: Arial, Helvetica, sans-serif;
  margin:0;
}
/* NAV BAR */

#primero{
  height: 90px;
  width:100%;
  position: fixed;
  background: #FFF;
}
/* LOGO DE SPOTIFY */
#spotify {
  height: 60px;
  width: 210px;
  padding-left:35px;
  padding-top: 15px;
}

/* LISTAS */

 li{
 font-size: 16px;
 letter-spacing: 1px;
 font-weight: 100;
 padding-right: 10px;
 display: inline;
 color:#1A1A1A;
}
ul{
  list-style-type: none;
  float: right;
  padding-top:20px;
  padding-right:30px;
}
/* SEGUNDO DIV */

#segundo{
  height:600px;
  width:100%;
  background-image: url("https://i.ibb.co/Hp3DrWr/landing.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
/* TITULOS DE SOBRE IMAGEN */

#tituloUno{
  color: white;
  position: absolute;
  font-size: 58px;
  letter-spacing: 2px;
  font-weight: 300;
  top: 180px;
  font-weight: 500;
  text-align: center;
  width:100%;
  padding-bottom: 1px;
}
.pUno{
  color:white;
  letter-spacing: 1px;
  font-weight: 1;
  position: absolute;
  font-size: 18px;
  top: 280px;
  text-align:center;
  width:100%;
  line-height: 25px;
}

/* DIV 3 SEGUNDA SECCION */

#seccionDos{
  background: #FFF;
  height: 300px;
  width:100%;
}
#seccionDosTituloUno{
  padding: 10px 0 0 0; 
  text-align: center;
  width:100%;
  letter-spacing: 0.8px;
  font-weight: 100px;
  font-size: 20px;
}
/* <hr> verde */
#verde{
  height:3px;
  border: #00B172;
  background-color: #00B172;
  width:192px;
}

/* Imagenes (3) seccion dos */

 /* imagenes */
.tresde3{
  height:65px;
  width:65px;
}
/* 3 divs por cada conjunto de imagen + h3 + p */
.div3de3{
  float:left;
  width:33.1%;
  text-align: center;
  padding-top: 10px;
  padding-left:0.5px;
  padding-right:0.5px;
}
/* Titulos verdes */
.titulos3{
  letter-spacing:0.5px;
  color: #00B172;
}

/* SECCION TRES */
#contornoVerde{
  padding:30px;
}
#cajaVerde{
  height: 550px;
  width:99%;
  background: #00B172;
  padding-top: 30px;
  margin: 0 auto;
}
 /* titulos y parrafos Caja Verde */
#kanye{
  color:#FFF;
  width:100%;
  padding-left: 50px;
  letter-spacing: 0.5px;
  font-size: 20px;
  padding: 0.01px 0.01px 35px 50px;
  
}
#rayaBlanca{
  width:280px;
  height:2px;
  background: #FFF;
  position: absolute;
  padding: 0.01px;
}
/* div con titulos */
#parrafosVerdes{
  color:white;
  letter-spacing: 0.5px;
  padding-left:50px;
  margin:0 auto;
}
/*solo parrafos seccion verde*/

.soloparrafos{
  font-size:12px;
  line-height: 25px;
}
#app{
height:410px;
width:250px;
padding:40px 50px 0 0;
}

#miniSpotify{
height:75px;
width:80px;
position: absolute;
left:43%;
}

#ima2{
 float:right;
 margin: 0 auto;
}

#ima1{
 position: relative;
 top:43%;
}