/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0 auto;
}

nav {
    background-color: white;
    width: 100%;
    height: 50px;
}

.upper-logo img {
    width: 18%;
    padding: 1% 1%;
    position: relative;
    left: 40px;
}

.upper-links {
    position: relative;
    left: 880px;
    bottom: 68px;
}

.upper-links a {
    text-decoration: none;
    color: black;
    padding: 0px 10px;
    font-size: 24px;
    font-weight: 300;
}

header {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

header h1, h4 {
    text-align: center;
    color: white;
}

h1 {
    font-size: 5em;
    font-weight: 600;
    position: relative;
    top: 240px;
}

h4 {
    font-size: 1.75em;
    font-weight: 300;
    position: relative;
    top: 240px;
    line-height: 2px;
}

#section-one {
    background-color: white;
    height: 80vh;
}

#section-one h2 {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.grn-under {
    display: inline-block;
    border-bottom: 5px solid #00B172;
    padding-top: 15px;
    padding-bottom: 5px;
    margin: 2% 36% 0% 36%;   
}

.clearfix {
    clear: both;
}

.mid-icons {
    width: 100%;
    text-align: center;
    position: relative;
    top: 100px;
    right: 18px;
}

.mid-icons h3 {
    color: #00B172;
    font-size: 26px;
}

.mid-icons p {
    width: 60%;
    font-size: 28px;
    font-weight: 100;
    position: relative;
    left: 80px;
}

.mid-icons img {
    width: 35%;
}

.icon-one, .icon-two, .icon-three {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
}

#section-two {
    background-color: #00B172;
    margin: 2.5%;
    background-position: center;
    height: 900px;
}

.ye-text-and-spot-icon {
    float: left;
    width: 80%;
}

.yeezy-scrnshot {
    float: left;
    width: 20%;
}

.ye-text {
    float: left;
}

.spot-icon {
    float: right;
}

.spot-icon img {
    width: 17%;
    position: relative;
    bottom: 400px;
    left: 190px;
}

.yeezy-scrnshot img {
    width: 375px;
    position: relative;
    right: 250px;
    top: 140px;
}

#section-two h2 {
    border-bottom: 5px solid white;
    padding-top: 70px;
    padding-bottom: 5px;
    margin: 2% 43.75% 0 8%;
    color: white;
    font-size: 40px;
}

#section-two h3 {
    color: white;
    font-size: 30px;
    line-height: 10px;
    padding-left: 100px;
    padding-top: 50px;
}

#section-two p {
    color: white;
    font-size: 23px;
    width: 33%;
    font-weight: 300;
    padding-left: 100px;
    line-height: 1.5em;
}