/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
  margin: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  height: 80px;
  background-color: #FFF;
  padding-bottom: 20px;
  position: fixed;
}

ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

li {
  font-family: helvetica;
  color: #1A1A1A;
  display: inline-block;
  text-decoration: none;
  font-size: 23px;
  margin: 0 15px;
  font-weight: lighter;
}

.links {
  float: right;
  margin-top: 33px;
  margin-right: 50px;
}

.logoSpotify {
  height: 69px;
  width: 242px;
  position: absolute;
  top: 15px;
  left: 50px;
}

.logoSpotify:hover {
  width: 342px;
  height: 69px;
  transition-property: width;
  transition-duration: 2s;
  transition-timing-function: linear;
  transition-delay: 1s;
}

.float {
  clear: both;
}

header {
  background-image: url("../images/landing.jpg");
  height: 730px;
  background-size: cover;
  background-position: center;
}

.tittle {
  font-size: 40px;
  color: #FFF;
  font-family: helvetica;
  position: absolute;
  top: 189px;
  left: 25%;
}

.subtittle {
  padding-top: 350px;
}

.subtittle>h2 {
  font-size: 30px;
  color: #FFF;
  font-family: helvetica;
  font-weight: lighter;
  text-align: center;
  margin-bottom: -10px;
}

.whatOnSpotify h1 {
  color: #1A1A1A;
  font-size: 35px;
  font-family: helvetica;
  text-align: center;
  margin-top: 50px;
}

.whatOnSpotify hr {
  width: 310px;
  height: 4px;
  background-color: #00B172;
  border: none;
  margin-top: -25px;
  margin-bottom: 68px;
}

.sectionsWhatOn {
  margin-left: 81px;
}

.sectionsWhatOn img {
  width: 143px;
}

.sectionsWhatOn h2 {
  font-size: 30px;
  font-family: helvetica;
  text-align: center;
  color: #00B172;
}

.sectionsWhatOn p {
  font-size: 25px;
  font-family: helvetica;
  text-align: center;
  color: #1A1A1A;
  font-weight: lighter;
}

.millions {
  width: 30%;
  display: inline-block;
}

.millions img {
  margin: 0 159px;
}

.hdMusic {
  width: 30%;
  display: inline-block;
}

.hdMusic img {
  margin: 0 151px;
}

.stream {
  padding-bottom: 20px;
  width: 30%;
  display: inline-block;
}

.stream img {
  margin: 0px 151px;
}

.sectionKanye {
  background-color: #00B172;
  margin: 50px 60px;
  font-family: helvetica;
  color: #FFF;
  height: 850px;
  position: relative;
}

.textKanye {
  height: 100%;
  width: 50%;
  margin-left: 102px;
  padding-top: 70px;
  display: inline-block;
}

.textKanye h1 {
  font-size: 35px;
}

.textKanye hr {
  width: 471px;
  height: 4px;
  background-color: #FFF;
  border: none;
  margin-top: -25px;
  margin-left: 0;
}

.textKanye h2 {
  font-size: 33px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.textKanye p {
  font-size: 22px;
  font-weight: lighter;
}

.photoKanye {
  height: 400px;
  display: inline-block;
  margin-left: 110px;
  width: 3px;
}

.photoKanye img {
  height: 590px;
  width: 357px;
}

.photoLogo {
  position: absolute;
  top: 331px;
  left: 559px;
}

.photoLogo img {
  height: 134px;
  width: 136px;
}
