/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
div,
header,
section {
  box-sizing: border-box; }
body{
    background-color: white;
}
.nav{
    
    width: 100%;
    height: 70%;
    
}
    
        #nav-div1 img{
            width: 10%;
            
        }
   
    #nav-ul{
        padding: 0;
        margin: 0;    
        list-style: none;
        text-align: center; 
        padding-right: 20px;
    }
        #nav-ul li{
            display: inline-block;
            font-size: 24px;
            margin-left: 10px;
        }
/*  */

#section1{
    text-align: center;
    background-image: url("../images/landing.jpg");
    background-size: 100%;
    max-width: 100%;
    width: 100%;
    height: 840px;
    color:white;
}
#section1-div1{
    padding-left: 20%;
    padding-top: 24%;
    padding-right: 20%
}
#h2Music{
    font-size: 80px;
}
/*  */
#section2{
    align-items: center;
    text-align: center;
    width: 100%;
    height: 340px;
}
.block{
    width: 33%;
}
.section2-img{
    width: 30%;
}
.green{
    font-size: 150%;
    color: #00B172;
}
#decoration{
    font-size: 225%;
    text-decoration: underline;
    text-decoration-color: #00B172;
}
/*  */

#section3{
    background-color: #00B172;
    color:white;
    padding: 3%;
    margin: 20px;
}
.section3-div{
    padding-right: 700px;
    width: 80%;
}
.section3-h2{
    font-size: 30px;
    text-decoration: underline;
}
.section3-padding{
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}
.section3-img{
    width: 20%;
}
.section3-div3{
    left: 45%;
    top: 1500px;
    position: absolute;
    
}
#section3-img2{
    width: 20%
}
/*  */
.clearfix:after {
    content: '';
    display: block;
    visibility: hidden;
    clear: both; }
.left{
    float: left;
}
.right{
    float: right;
}

/*  */

