/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

.logo{
    width: 15%; 
    height: 15%;
    position: relative;
}

li {
    display: inline;
    color: gray;
    font-family: 1A1A1A;
    font-size: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#FFF;
  }

.textoCentrado {
    position: relative;
    text-align: center;
    color: #FFF;
    font-family: 1A1A1A;
}

.Titulo1 {
    position: absolute;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
}

.Text1 {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.textoCentrado2 {
    position: relative;
    text-align: center;
    color: black    ;
    font-family: 1A1A1A;
}

.Whats{
    position: relative;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.music-icon{
    height: 50%;
    width: 50%;
    position: relative;
    top: 100%;
    left: 20%;
}

.high-quality-icon{
    height: 50%;
    width: 50%;
    position: relative;
    top: 100%;
    left: 20%;
    
}

.devices-icon{
    height: 50%;
    width: 50%;
    position: relative;
    top: 100%;
    left: 20%;
}

.column {
    float: left;
    width: 30%;
    padding: 10px;
    height: 500px;
}

.columns {
    float: left;
    width: 100%;
    padding: 10px;
    height: 500px; 
    color:#aaa;
}

.titulos2{
    position: relative;
    text-align: center;
    color: black;
    font-family: 1A1A1A;
    font-size: 40px;
}

.titulos3{
    position: relative;
    text-align: center;
    color: #00B172;
    font-family: 1A1A1A;
    font-size: 40px;
}

.text2{
    position: relative;
    text-align: center;
    color: black;
    font-family: 1A1A1A;
    font-size: 30px;
}