/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
    margin: 0;
    padding: 0;
    color: 1A1A1A;
}

nav{
    padding: 20px 0;
    background-color: white;
    position: fixed;
}

nav ul{
    display: inline;
    float: right;
    padding: 0 50px 0 0;
    font-size: 1.5em;
    margin:  15px 0;
}

nav li{
    list-style: none;
    display: inline;
    padding-left: 20px;
}

nav img{
    width: 15%;
    display: inline;
    vertical-align: middle;
    padding-left: 50px;
}

.landing_page{
    background-image: url("/Users/Raul/Documents/IronHack/week1/day3/lab-css-spotify-clone/starter-code/images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 855px;
    float:left;
    clear: none;
    color: #FFF;
    text-align: center;
}

.landing_page h1{
    padding-top: 250px;
    font-size: 5em;
}

.landing_page p{
    font-size: 2em;
    width: 55%;
    padding-left: 25%;
}

.whats_on{
    float:left;
    clear: none;
    width: 90%;
    padding: 20px 5% 0 5%;
}

.whats_on h2{
    text-decoration: underline;
    text-decoration-color: #00B172;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 50px;
}

.whats_on img{
    width: 30%;
}

.on_spotify{
    display: inline;
    float: left;
    width: 30%;
    padding-left: 2.5%;
    text-align: center;
}

.middle_column img{
    padding-bottom: 14px;
}

.whats_on h3{
    color:#00B172;
    font-size: 2em;
}

.whats_on p{
    font-size: 1.5em;
    width: 70%;
    margin: 0 auto;
}
.green_container{
    float:left;
    clear: none;
    width: 90%;
    margin: 50px 5% 50px 5%;
    background-color: #00B172;
}

.green_text {
    width: 38%;
    display: inline;
    float: left;
    color: white;
    padding: 50px 0 50px 7%;
    position: relative;
}


#white_icon{
    width: 10%;
    position: absolute;
    padding-top: 23%;  
}

#phone_app{
    width: 30%;
    float: right;
    padding: 80px 7% 80px 0;
    
}

.green_text h2{
    font-size: 2.5em;
    text-decoration: underline;s
}

.green_text h3{
    font-size: 2em;
}

.green_text p{
    width: 75%;
    font-size: 1.3em;
}
