/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
header{
    position: fixed;
    background-color: white;
    margin-bottom: 300px;
}
.logos{
    width: 23%;
    height: auto;
    max-height: 86px;
    display: inline-block;
}

.menu{
    width: 59%;
    display: inline-block;
    padding: 10px 15px;
    float: right;
}

.fondo{
    clear: both;
    background-image: url(/Users/alvaromartinez/IronHack/M1/lab-css-spotify-clone/starter-code/images/landing.jpg);
    background-size: cover;
    height: 900px;
}

h1{
    color: 1A1A1A;
    font-size: 50px;
    text-align: center;
    padding-top: 362px;  
}
.wh{
    color: 1A1A1A;
    text-align: center; 
}

.title{
    text-align: center;
    font-size: 50px;
    margin-top: 25px;
    text-decoration: underline green;
}

.song{
    width: 32%;
    display: inline-block;
}
.hd1{
    width: 32%;
    display: inline-block;
    float: left;
}
.stm1{
    width: 32%;
    display: inline-block;
    float: left;
}
.img1, .img2, .img3{
    width: 100px;
}
.tres{
    background-color: green;
}

.img4{
    float: right;
}

