/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
  margin: 0;
  font-family: Montserrat;
  z-index: -1;
}

.menu {
  background-color: white;
  color: #1A1A1A;
  width: 100%;
  height: 150px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.menu img {
  width: 280px;
  height: 80px;
  padding: 22px 0 0 40px;
}

.menu > a {
  text-decoration: none;
  color: #1A1A1A;
  float: right;
  margin: 30px 20px;
  text-align: center;
  padding-top: 25px;
  padding-right: 20px;
  font-size: 20px;
  height: 100px;
}

.music {
  background-image: url("../images/landing.jpg");
  background-size: 1450px 900px;
  background-repeat: no-repeat;
  width: auto;
  height: 800px;
  color: white;
}

.music h1 {
  text-align: center;
  padding: 200px 0 0 0;
  font-size: 80px;
}

.music p {
  text-align: center;
  font-size: 30px;
}

.spotify {
  background-color: white;
  width: auto;
  height: 500px;
  color: #1A1A1A;
}

.spotify h2 {
  text-align: center;
  font-size: 40px;
  text-decoration-line: underline;
  text-decoration-color: #00B172;
}

.spotify span {
  color: #00B172;
  font-size: 30px;
  font-weight: bold;
}

.spotify p {
  font-size: 25px;
  vertical-align: top;
  text-align: center;
  display: inline-block;
  margin: 200px 0 0 150px;
}

.spotify img {
  width: 125px;
  height: 105px;
  position: absolute;
  padding: 50px 0 0 220px;
}

.kanye {
  background-color: #00B172;
  width: auto;
  height: 750px;
  color: white;
  margin: 40px;
  padding: 30px 30px 30px 100px;
  line-height: 40px;
}

.kanye h2 {
  font-size: 40px;
  text-decoration-line: underline;
  text-decoration-color: #FFF;
}

.kanye span {
  font-size: 30px;
  font-weight: bold;
  line-height: 65px;
}

.kanye p {
  font-size: 25px;
  line-height: 45px;
  font-weight: lighter;
}

.spotify-white {
  width: 120px;
  height: 120px;
  position: absolute;
  top: 1750px;
  left: 650px;
  z-index: 1;
}

.spotify-app {
  width: 350px;
  height: 625px;
  position: absolute;
  top: 1600px;
  left: 950px;
}
