/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
  background-color: #FFF;
  font-family: Open Sans;
}

nav{
  overflow: auto;
  height: 15%;
  box-sizing: border-box;
  padding: 20px 0;

}

.logo{
  float: left;
width: 50%;
}
.logo > img{
  width: 30%;
  height: 30%;
  padding-left: 40px;
}
@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-20px);
		transform: translateY(-20px);
	}
	80% {
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}
.logo:hover{
  animation: bounce 1s;
}
.logoimg{
  width: 35%;
  height: 15%;
}
.links{
    float: right;
    margin: 30px 0;
    padding-right: 30px;
}
nav a{
  text-decoration: none;
  padding: 20px 0;
  margin: 0 15px;
  font-size: 1.5em;
  color: black;
}
.backgroundImage{
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-position: center;
  height: 900px;
}

.backtxt{
  width: 55%;
  color: white;
  margin: 0 auto;
  padding-top: 10%;
  text-align: center;
  font-size: 2.6em;
}
.backtxt > h1{
  font-size: 2em;
  font-weight: bold;
}
.content {
  width: 40%;
  margin: 0 auto;
  font-size: 2.5em;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #00B172;
  padding: 20px 20px;
  padding-bottom: 50px;
  text-align: center;
}
.container{
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 30px;
  padding-bottom: 100px;
}
.container  h3{
  color: #00B172;
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 10px;

}
.songs{

  width: 20%;
padding: 0 4%;
}
.hdmusic{

  width: 20%;
  padding: 0 4%;
}
.stream{

  width: 20%;
  padding: 0 4%;

}
.container img{
  width: 40%;
  height: 40%;
}

.descContainer{
  background-color: #00B172;
  color: #FFF;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 0 5%;
}

.desc{
  width:30%;
  text-align: left;
  padding-top: 5%;
  font-size: 30px;
  margin: 2% 0 ;
}
.desc > h2{
  text-decoration: underline;
  font-size: 50px;
}

.logo2{
  width: 10%;
  margin: 30% 5%;

}
.logo2 > img{
  width: 90%;

}

.kanye{
  width: 28%;
  margin-top: 10%;
}
.kanye > img{
  width:100%;
  height: auto;
}
