/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.6;
}

nav {
  overflow: hidden;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav img {
  width: 15%;
  height: 12%;
}

nav a {
  text-decoration: none;
  color: black;
  text-align: center;
  padding: 25px;
}

.main-section {
  padding-top: 150px;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  background-size: contain;
  height: 900px;
  color: white;
}

.main-section div {
  text-align: center;
  width: 50%;
  margin: 0 25%;
  padding-top: 280px;
}

.main-section p {
  padding-top: 30px;
}

.main-section h1 {
  font-size: 5em;
}

.main-section p {
  font-size: 2em;
}

.content h2 {
  padding: 20px 0;
  text-align: center;
  font-size: 3em;
  margin: 30px 0;
}

.content div {
  display: flex;
}

.box {
  width: 30%;
  padding: 2%;
  margin: 1.5%;
  flex-direction: column;
}

.box img {
  height: 120px;
  width: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.box h3 {
  text-align: center;
  font-size: 2em;
  color: #00b172;
  font-weight: bold;
}

.box p {
  text-align: center;
  font-size: 1.3em;
  padding-top: 20px;
}

.green-box {
  background-color: #00b172;
  margin: 1%;
  color: white;
  display: flex;
  padding: 50px;
  height: 700px;
}

.green-box .left {
  flex-direction: column;
}
.green-box h2 {
  font-size: 3em;
  padding-bottom: 30px;
  font-weight: bold;
  padding-left: 50px;
}

.green-box h3 {
  font-size: 2em;
  font-weight: bold;
  padding-left: 50px;
}

.green-box p {
  padding-bottom: 20px;
  font-size: 1.3em;
  width: 50%;
  padding-left: 50px;
}

.white-logo {
  height: 30%;
  width: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.green-box img {
  display: block;
  height: 90%;
  width: 60%;
  margin-left: 40%;
  padding: 30px 0;
}
