/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');

*{
    margin: 0;
    padding: 0;
}

body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-size: 5.0em;
    font-weight: bold;
}

h3{
    font-size: 1.8em;
    color: #ffffff;
}

.mr{
    margin-right: 1%;
}

.mb{
    margin-bottom: 30px;
}

.logo-spot{
    height: 100%;
    background-image: url("../images/spotify-logo.png");
    background-size: 150px;
    background-repeat: no-repeat;
}

#menu > li{
    list-style-type: none;
    display: inline;
    margin-right: 15px;
}

.navbar{
    width: 100%;
    padding: 10px;
    margin-bottom: 0;
    overflow: hidden;
    box-sizing: border-box;
}

.logo{
    width: 150px;
    height: 50px;
    text-align: left;
    float: left;
    box-sizing: border-box;
}

.logo-bg:hover{
    transform: rotate(20deg);
}

.nav-items{
    float: right;
    padding: 5px;
    margin-top: 10px;
    box-sizing: border-box;
}

.header{
    width: 100%;
    height: 800px;
    color: #ffffff;
    background-image: url("../images/landing.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.text{
    width: 100%;
    padding-top: 350px;
    text-align: center;
}

.text p{
    font-size: 1.8em;
    line-height: 1.3em;
    margin-top: 25px;
}

.what-on{
    height: 400px;
    margin-bottom: 0px;
    text-align: center;
}

.what-title{
    padding: 10px;
    width: 300px;
    font-size: 1.2em;
    margin: 30px auto;
    line-height: 1.2em;
    text-align: center;
}

.border{
    padding-bottom: 15px;
    border-bottom: 3px solid #00B172;
    box-sizing: content-box;
    display: inline-block;
}

.flex{
    display: flex;
    justify-content: center;
}

.mr{
    margin-right: 1%;
}

.box{
    width: 28%;
    box-sizing: border-box;
}

.box img {
    height: 90px;
}

.box-title{
    font-size: 1.6em;
    color: #00B172;
    font-weight: bold;
}

.box-description{
    font-size: 1.3em;
    margin-top: 25px;
    color: #aaaaaa;
}

.greenbox{
    width: 85%;
    margin: 0 auto;
    margin-bottom: 3%;
    padding: 15px;
    background-color: #00B172;
    position: relative;
}

.greenbox > div{
    width: 50%;
    padding: 50px;
}

.greenbox-text{
    flex-direction: column;
}

.kanye-text{
    border-bottom: 3px solid #ffffff;
    box-sizing: content-box;
    display: inline-block;
}

.greenbox-kanye{
    padding: 50px;
}

.greenbox-kanye > div{
    width: 80%;
    margin: 25px auto;
    margin-right: 0;

}

.greenbox-title{
    font-size: 1.9em;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 30px;
}

.greenbox-text-p{
    font-size: 1.4em;
    color: #ffffff;
    margin-bottom: 20px;
}

.kanye-image{
    width: 100%;
}

.spotify-logo{
    height: 130px;
    position: absolute;
    overflow: hidden;
    text-align: center;
    top: 30%;
    left: 19%;
}

.icon-white{
    height: 100%;
}

.mb{
    margin-bottom: 30px;
}