/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans');


body {
  width: 1300px;
  max-width: 100%;
  margin: 0 auto;
}

a {
text-decoration: none;
color: black;
}

nav {
  font-family: Source Sans Pro;
  color: black;
  height: 75px;
  margin: auto;
  background-color: #ffffff;
  position: fixed;
  width: 1300px;
  top: 0;
  padding-top: 20px;
}
.nav-left {
  padding:10px;
  float: left;
  font-size: 1rem;
}

li {
  font-size: 1rem;
  font-family: Open Sans;
  font-weight:400;
  color: #f4f4f4;
}

p {
  font-family: Open Sans;
}

h1 {
  font-family: Open Sans;
}

h2 {
  font-size: 2.25rem;
  font-family: Open Sans;
  text-align: center;
}

h3 {
  font-size: 1.25rem;
  font-family: Open Sans;
  color: #00B172;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
  font-size: 1rem;
  list-style: none;
  text-decoration: none;
}

.top-links {
  float: right;
  padding-top: 15px;
  margin: 0 20px 0 0;
  font-size: 0.5rem;
  list-style: none;
  color: black;
}

.section1 {
  height: 100%;
}

.line-separator {
  height:1px;
  background:#717171;
  border-bottom:1px solid #00B172;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  }

.section2-heading {
    text-align: center;
    color: rgb(83, 88, 98);
    margin-top: 20px;
  }
  
  .section2-container {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 50px 0;    
  }

  .col {
    float: left;
  }
  
  .col-3 {
    width: 33%;
    margin: 0 auto;
  }
  
col-middle {
    margin: 0 5% 0 5%;
  }

.container {
  background-color: #00B172;
  margin-top: 200px;
  height: 850px;
  display: flex;
  }

.hero {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    width: 1300px;
    height: 800px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

.titulo {
text-align: center;
font-family: Open Sans;
font-size: 1.5rem;
font-weight: 300;
}

.section3-container {
  width: 1200px;
  text-align: center;
  margin: 0 auto;
  padding: 50px 0; 
  color: #ffffff;
}

.col {
  float: left;
}

.col-3 {
  width: 33%;
  margin: 0 auto;
}

col-middle {
  margin: 0 5% 0 5%;
}

.textosec3 {
  color: #ffffff;
}

col-middleb {
  margin: 0 5% 0 5%;
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container  h2 {
  color: white;
  text-align: left;
  text-decoration: underline white;
}

.container h3 {
  color: white;
  text-align: left;
  font-weight: 600;
  font-size: 2rem;
}

.container p {
  font-size: 1.25rem;
  text-align: left;
  font-weight: 200;
}

.logo {
  margin-top: 300px;
}