/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
    position: fixed;
    background-color: #FFF;
    width: 100%;
    height: 94px;
}

nav img {
    float: left;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 39px;

}

nav ul {
    float: right;
    position: absolute;
    right: 41px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: 100;
   }

ul li {
    margin-left: 31px;
    display: inline;    
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: #1A1A1A;
}

header {
    background-image: url("../images/landing.jpg");
    height: 852px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
}

header h1 {
    font-size: 73px;
    position: absolute;
}

header p {
    position: absolute;
    top: 500px;
    font-size: 27px;
    font-weight: 100;
    width: 653px;
    text-align: center;
}

.col-3 {
    width: 30%;
    float: left;
    text-align: center;
    
}

.col-3 h3 {
    color: #00B172;
}

.col-center {
    margin: 0 12%;
}

.section-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 554px;
}

h2 {
    margin: 0 auto;
    width: 300px;
    position: absolute;
    bottom: -260px;
    color: 1A1A1A;
    font-size: 33px;
}

.section-1 hr {
    position: absolute;
    width: 285px;
    bottom: -274px;
    border: 2px solid #00B172;
    margin: 0 auto 0 -3px;
    display: block;
}

h3 {
font-size: 27px;
}

.section-1 p {
    font-size: 23px;
    color: #1A1A1A;
    font-weight: lighter;
    margin: 30px auto 0 auto;
    width: 250px;
    text-align: center;
    line-height: 32px;
}

.green-pa {
    background-color: #00B172;
    position: relative;
    width: 100%;
    height: 785px;
}

.green-pa div {
    float: left;
    left: 95px;
    position: absolute;    
    margin-top: 182px;
    color: #FFF;
}

.app {
    float: right;
    top: 109px;
    right: 100px;
    position: absolute;
}

.green-pa h2 {
    top: -114px;
    width: 464px;
    color: #FFF;
}

.green-pa hr {
    border: 2px solid;
    top: -68px;
    display: block;
    position: absolute;
    width: 436px;
    color: #FFF;
}

.green-pa h3 {
    margin-bottom: 30px;
}

.green-pa p {
    font-size: 20px;
    font-weight: lighter;
    width: 295px;
    line-height: 30px;
    margin-bottom: 44px;
}

.white {
    position: absolute;
    right: 575px;
    top: 327px;
}