/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    width: 100%;
    margin: 0;
    font-family: Roboto, Ubuntu, Arial, sans-serif;
    font-size: 81.25%;
}

header {
    width: 90%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

header img{
    width: 200px;
    float: left;
}

ul > li{
   list-style: none; 
}



ul {
    padding-inline-start: 0px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header a {
    text-align: center; 
    padding: 20px;
    text-decoration: none;
    color: #1A1A1A;
    font-size: 1.5em;
    font-weight: 200;
}

.banner {
    background-image: url("../images/landing.jpg"); 
    width: 100%;
    height: 800px;
    background-size: 100% 100%;
    text-align: center;
    color: #FFF;
}

.banner h1 {
    font-weight: 500;
    font-size: 6em;
    padding-top: 230px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}
.banner h3 {
    font-weight: 200;
    letter-spacing: -0.03em;
    font-size: 2.3em;
    line-height: 20pt;
}

.whatsOn {
    width: 90%;
    margin: auto;
    text-align: center;
}

.whatsOn h1 {
    font-size: 3em;
    margin: 1em 0 2em 0;
    text-decoration: underline;
    text-decoration-color: #00B172;
}
.whatsOn h2 {
    color: #00B172;
}

.boxes {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.boxes h2, .boxes p {
    width: 300px;
}

.box1 img, .box2 img, .box3 img {
    width: 150px;
    height: 130px
}

.green {
    width: 95%;
    background-color: #00B172;
    color: white;
    margin: auto;
}

section p, h2{
    font-size: 2em;
}

section p {
    font-weight: 100;
}

.songDescription {
}

.descriptionBoxes {
    display: flex;
    align-items: center;
}

.whiteLogo img{
    width: 150px;
    background-size: 100%;
}

.capture img {
    width: 300px;
}



