/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

*{
  box-sizing: border-box;
}

html{
  font-size: 10px;
}

body{
  font-family: 'Varela Round', sans-serif;
  max-width: 134rem;
}

nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  margin: 0 4rem;
}

nav img{
  max-width: 23rem;
}
.nav-list{
  display: flex;
  font-size: 2.5rem;
}

.nav-list li{
  padding-left: 3rem;
}
header{
  background-size: cover;
  background-image: url("../images/landing.jpg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82rem;


}
header article{
  color: white;
}
header h1{
  font-size: 6rem;
  text-align: center;
  padding-bottom: 6rem;
  font-weight: bold;
}
header p{
  font-size: 2.5rem;
  text-align: center;
  line-height: 4rem;
}
.mid-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5rem;
}

.mid-section h2{
  font-size: 3rem;
  border-bottom: 0.7rem solid #00B172;
  text-align: center;
  padding-bottom: 0.4rem;
  
}
.mid-article{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 9rem;
  margin-bottom: 3.5rem;
  align-items: flex-start;
}

.item-art{
  max-width: 30rem;
  margin: 0 2.5rem; 
}

.mid-article img{
  height: 10rem;
  width: auto;
  margin-bottom: 3.5rem;
  padding-left: 9rem;
}

.mid-article h3{
  color: #00B172;
  font-size: 2rem;
  margin-bottom: 4rem;
  font-weight: bold;
  text-align: center;
}
.mid-article p{
  font-size: 2rem;
  text-align: center;
  padding: 3rem;
}
footer{
 
  background-color: #00B172;
  margin: 0 4rem 4rem 4rem;
  display: flex;
  justify-content: space-around;
  padding: 8rem 10rem;
  

}
.footer-left{
  display: flex;
  flex-direction: column;
  color: white;
  max-height: 64rem;
}

.container-h3{
  max-width: 40rem;
}
.footer-left h3{
  font-size: 3rem;
  border-bottom: 0.5rem solid white;
  padding-bottom: 1rem;
  font-weight: bold;
}

.footer-left-bottom{
  display: flex;
}
.footer-art{
  max-width: 33rem;;
}

.footer-art h4{
font-size: 2.5rem;
margin: 4rem 0;
font-weight: bold;
}

.footer-art p{
  font-size: 2rem;
}

.footer-left img{
  margin-top: 12rem;
  margin-left: 5rem;
  width: 13rem;
  height: auto;
}


.kwest img{
  margin-top: 3rem;
  width: 29rem;
  height: 50rem;


}