body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  /* font-family: "Roboto Mono", monospace; */
  /* font-family: "Noto Sans", sans-serif; */
}
/* Nav/Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}
ul {
  list-style-type: none;
  display: flex;
}
li {
  padding: 10px 15px;
}
.brand {
  width: 140px;
  height: 45px;
}

/* banner */
.banner {
  background-image: url("../images/landing.jpg");
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  font-size: 4rem;
  margin-bottom: 0;
}
.banner p {
  width: 50%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 45px;
}
/* main content */
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content h2 {
  margin-top: 30px;
}
.underline {
  border-bottom: solid 3px #00b172;
}
.card-container {
  display: flex;
  margin: 50px 0;
}
.card h3 {
  margin-bottom: 0;
  color: #00b172;
}
.card-container img {
  width: 70px;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
.card p {
  text-align: center;
  width: 70%;
}
/* green box */
.green-box {
  background-color: #00b172;
  color: white;
  height: 500px;
  padding: 0 50px;
  margin-bottom: 30px;
  position: relative;
}

.green-box h2 {
  padding-top: 20px;
  margin-bottom: 50px;
  border-bottom: solid 3px white;
  text-align: left;
}
.yeezy-card p {
  width: 35%;
}
.h-wrapper {
  width: 318px;
}
.icon {
  width: 80px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.yeezy-img {
  height: 375px;
  position: absolute;
  top: 50%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.inner-wrapper {
  max-width: 750px;
}