/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
	background-color: white;
	color: #1A1A1A;
	margin: 0 auto;
	position: fixed;
}

.logo {
	display: inline;
}

nav {
	float: right;
	padding-top: 2.35%;
}

.spotify-green {
	color: #00B172;
}

.hero {
	color: white;
	background-image: url("../images/landing.jpg");
	background-size: cover;
	background-position-y: -40px;
	padding: 21%;
}

.hero-text {
	margin: 0 auto;
	text-align: center;
}

.main-body {
	color: #1A1A1A;

}

.main-before-insert {

}

.feature-containers {

}
.main-whats-on-spotify {
	margin: 0 auto;
	text-align: center;
	border-bottom: 5px;
	border-color: #00B172;
}

.main-feature-1 {
	margin: 0 auto;
	text-align: center;
}

.main-feature-2 {
	margin: 0 auto;
	text-align: center;
}

.main-feature-3 {
	margin: 0 auto;
	text-align: center;
}

.main-body-insert {
	color: white;
	background-color:  #00B172;
}

.left-text {

}

.insert-icon {

}

.insert-screenshot {

}

.float-l {
	float: left;
}

.float-r {
	float: right;
}

.clearfix {
	clear: both;
}