/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
    font-size: 20px;
    font-family: 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 100;
    padding:0;
    margin:0;
}
.header img {
    height: 70px;
    padding-top: 10px;
}

.header ul {
    list-style: none;
    display: inline;
    float: right;
    margin: 28px 0 0 0;    
}
.header li {
    display: inline;
    padding: 0 23px 0 0;
}
.header {
    height: 70px;
    padding: 0 0 15px 15px;
    background:white;
    position: fixed;
    width: 100%;
    margin-top: -48px;
    
}

.landing {
    width: 100%; 
    height: 830px;
    background-image:url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
    
   
}

.landing h3,
.landing h1 {
    color: white;
    text-align: center;
}

.landing h1 {
    font-size: 70px;
    font-weight: 600;
    padding-top: 200px;
}
.landing h3 {
    font-weight: 100;
    padding: 0 0;
    margin: 0 0;
}

.info-box {
    height: 500px;
    
}
.info-box h2 {
    text-align: center;
}
.info-box hr {
 width: 250px;
 border: 3px solid green;

}

.info-box h2 {
    margin: 0;
    padding-top: 30px;
}

.millions img {
    width: 120px;
    height: 120px;
}

.millions {
    text-align: center;
    width:250px;
    display: inline-block;
    padding: 86px;
}



.yeezy-container {
    width: 1200px;
    height: 780px;
    background-color: #00B172;
    color: white;
    margin: 30px auto;
}

.yeezy-text {
    padding-left: 90px;
    padding-top: 50px;
    width: 420px;
    float:left;
}
.yeezy-text h1 {
    font-size: 30px;
}

.yeezy-text hr {
    width: 380px;
    display: inline-block;
    border: 2px solid white;
}

.inner-container {
    border: 2px solid black;
    width: 500px;
    height: 800px;
}

.kanye-img  img{
    width:350px;
    height: 600px;
    float: right;
    margin-top: 80px;
    margin-right: 80px;
}

.logo img {
    height: 90px;
    width: 90px;
    float: right;
    padding-top: 300px;
    padding-right: 90px;
}


/*.landing img {
    width: 100%;
    padding: 0;
    margin: 0;
}*/