//colors
$text: #1A1A1A;
$green: #00B172;
$white: #FFF;


.wrapper{
    background-color: $white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
}
.top-container{
    background-color: $white;
    width: 100%;
    padding: 15px 0 10px 0;
    z-index: 100;
    position: sticky;
    top: 0px;
    nav{
        display: flex;
        padding: 0 10px 0 20px;
        div.logo{
            flex-basis: 65%;
            img{
            width: 200px;
            height: 60px;
            }
        }
        ul{
            word-spacing: 15px;
            li{
                margin: 0 0 0 10px;
                list-style: none;
                display: inline;
                a{
                    text-decoration: none;
                    color: $text;
                }
            }
        }
    }   
}
.first-section{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;
    img{
        max-width: 100%;
        height: auto;
    }
    h1{
        position: absolute;
        font-weight: bold;
        top: 3em;
        font-size: 4em;
    }
    span{
        position: absolute;
        top: 12em;
        font-size: 2em;
        text-align: center;
    }    
}
.second-section{
    display: flex;
    flex-direction: column;
    color: $text;
    align-items: center;
    h1{
        font-size: 2em;
        border-bottom: 3px solid $green;
        padding: 0 0 10px 0;
    }
}
.third-section{
    display: flex;
    flex-direction: row;
    color: $text;
    margin: 0 0 70px 0;
    padding: 10px;
    section{ 
        flex-direction: column; 
        flex-basis: 20em;
        align-items: center;
        position: relative;
        left: 5em;
        padding: 25px 0 0 0;
        img{
            position: relative;
            left: 6.5em;
            width: 7em;
            height: 6em;
        }
        h1{
            color:$green;
            text-align: center;
            font-size: 1.5em;
        }
        span{
            color:$text;
            text-align: center;
            position: relative;
            left: 5em;
        }

    }
}
.lower-section{
    display: flex;
    flex-direction: column;
    color: $white;
    background-color: $green;
    background-size: cover;
    padding: 65px;
    .tittle{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 29em;
        h1{
            font-size: 2em;
            border-bottom: 3px solid $white;
            padding: 0 0 10px 0;
            text-align: left;
        }
    }
    .lower-content-left{
        flex-direction: column;
        width: 21em;
        h1{
            font-size: 1.5em;
        }
    }
    .lower-content-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 37em;
    position: relative;
    left: 21em;
    bottom: 25em;
        div.logo{
            align-self: center;
            position: relative;
            right: 4em;
            bottom: 10em;
            img{
                width: 7em;
            }
            
        }
        div.advertisment{
            align-self: flex-start;
            position: relative;
            left: 4em;
            bottom: 5em;
            }
            img{
                width: 22em;
            }   
      }
}


