/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
    font-family: 'Verdana';
}

.logo {
    height: 50px;
    float:left;
    margin-top:25px;
}

.navbar {
 height: 80px;


}

.navbar div{
float:right;
font-size:25px;
color:#1A1A1A;
padding-right:50px;
padding-top:25px;

}

.middle {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    height: 1000px;
    color:white;
    text-align:center;
    font-size:30px;
    padding-top: 300px;
   
}

.middle p {
    width: 90%;
    padding-left:40px;
}
.whatson h3{
 
    text-align:center;
    font-size: 30px;
   

}

.whatson {
    margin-top: 50px;
    margin-bottom:100px;
}

.whatson hr{

    color:#00B172;
    width: 24%;
}

.firstdiv{
    float:left;
    width:30%;
    padding-left: 60px;
    padding-top:30px;
}

.seconddiv{
    position:relative;
    left: 60px;
    padding-top:30px;
}

.thirddiv{
width:30%;
    float:right;
    position:relative;
    bottom:260px;
    left: 30px;
    padding-top:30px;
}

.music{
    height:150px;
}

.devices {
    height:150px;

}

.quality {
    height:150px;
}

.whatson div h2{

    color:#00B172;
}

.green{
    background-color:#00B172;
    color:white;
    padding-left:80px;
    font-size:20px;
    margin-left: 50px;
    margin-right:50px;
    padding-top:30px;
}

.green hr {

    color:white;
    width:40%;
    position:relative;
    right: 200px;
    
}

.phone{
float:right;
width:30%;
position:relative;
bottom:550px;
right: 120px;

}

.icon{
    width: 10%;
    position:relative;
    left: 550px;
    bottom: 300px;
}

.bigblock{
width:35%;


}