/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

.page-wrapper {
    width: 100%;
    min-width: 800px;
}

.header {
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #FFFFFF;
    top: 0;
}

.logo {
   float: left;
}

.logo img {
    height: 60px;
    margin-top: 20px;
    margin-left: 20px;
}

.menu ul {
    margin: 0 50px 0 0;
}

.menu ul li {
    float: right;
    display: inline;
    margin: 40px 20px;
    font-size: 22px;
}

.banner {
    height: 800px;
    background-image: url("../images/landing.jpg");
    background-size: cover;
    background-position: center;
    color: #FFFFFF;
    margin: 100px auto 0;
}

.banner-text {
    display: inline-block;
    width: 100%;
    margin-top: 300px;
    text-align: center;
    font-size: 18pt;
}

.banner-text h1 {
    font-size: 50pt;
    margin: 0;
}

.banner-text span {
    display: block;
}

.middle-block {
    text-align: center;
    margin: 0 auto;
    padding: 0 0 50px;
    width: 90%;
    height: 300px;
}

.middle-block h2 {
    font-size: 40px;
    border-bottom: 3px solid #1EA659;
    width: 370px;
    margin: 20px auto 60px;
}

.box {
    float: left;
    width: 33%;
    box-sizing: border-box;
    margin: 0, 20px;
}

.box img {
    height: 50px;
    width: 50px;
}

.box h3 {
    color: #57C685;
    font-size: 25px;
}

.box p {
    font-size: 18px;
}

.bottom-block {
    clear: both;
    width: 95%;
    height: 600px;
    margin: 0 auto;
    padding: 50px 50px 0;
    background-color: #1EA659;
    text-align: center;
    background-image: url("../images/spotify-icon-white.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px 100px;
    box-sizing: border-box;
    color: #FFFFFF;
}

.left-text {
    float: left;
    width: 50%;
    height: 500px;
    text-align: left;
}

.left-text h2 {
    border-bottom: 3px solid #FFFFFF;
    width: 322px;
}

.left-text h3 {
    font-size: 25px;
}

.left-text p {
    max-width: 250px;
    font-size: 18px;
}

.right-image {
    text-align: right;
    float: left;
    width: 50%;
    height: 500px;
}

.right-image img {
    max-height: 100%
}



