/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
    font-family: Roboto;
}

.logo {
    background-color: #FFF;
    background-size: cover;
    width: 50%;
    height: 100px;
    float: left;
}
.logo img {
    height: 70px;
    width: 210px;
}

.tags {
    font-size: 23px;
    font-stretch: ultra-condensed;
    word-spacing: 10px;
    text-align: right;
    background-color: #FFF;
    width: 50%;
    height: 100px;
    float: right;

}

.foto {
    background-image: url("../images/landing.jpg");
    width: 100%;
    height: 900px; 
    color: #FFF;
    background-size: cover;
}

.foto-texto{
    width: 60%;
    height: 300px;
    padding: 10px;
    position: relative;
    top: 250px;
    left: 290px;
}

.foto-texto h1 {
    font-size: 80px;   
}

.foto-texto p {
    font-size: 25px;
    text-align: center;
}

.caja-medio{
    width: 1250px;
    height: 500px;
}

.caja-medio-top{
    
    height: 100px;
    text-align: center;
}
.caja-medio-left{
    
    width: 33%;
    height: 300px;
    float: left;
    text-align: center;
}
.caja-medio-center{
   
    width: 33%;
    height: 300px;
    float: left;
    text-align: center;
}
.caja-medio-right{
    
    width: 33%;
    height: 300px;
    float: left;
    text-align: center;
}
.caja-medio-left img{
    width: 35%;
    height: 35%;
}
.caja-medio-center img{
    width: 35%;
    height: 35%;
}
.caja-medio-right img{
    width: 35%;
    height: 35%;
}
.caja-medio-top h2{
    font-size: 35px;
    color: #00B172;
}

.caja-medio-left h3{
    font-size: 25px;
    color: #00B172;
}
.caja-medio-left p{
    font-size: 20px;
}
.caja-medio-center h3{
    font-size: 25px;
    color: #00B172;
}
.caja-medio-center p{
    font-size: 20px;
}
.caja-medio-right h3{
    font-size: 25px;
    color: #00B172;
}
.caja-medio-right p{
    font-size: 20px;
}

.caja-verde {
    background-color: #00B172;
    width: 1150px;
    height: 650px;
    margin-left: 60px;
    margin-bottom: 50px;
}
.caja-verde div{
    width: 40%;
    color: #FFF;
    position: relative;
    left: 85px;
    top: 75px;
}
.caja-verde h2{
    font-size: 35px;
}
.caja-verde h3{
    font-size: 25px;
}
.caja-verde p{
    font-size: 20px;
}
.caja-verde img{
    float: right;
    width: 280px;
    height: 460px;
    position: absolute;
    top: 1570px;
    left: 850px;    
}
.caja-logo img{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 1750px;
    left: 650px;
}
