/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    clear: both;
}

nav {
    height: 65px;
    padding-top: 10px;
}

.nav-img {
    float: left;
    margin-left: 30px;
    width: 200px;
}

.nav-ul {
    float: right;
    margin-right: 10px;
    width: 450px;
    position: relative;
    bottom: 45px;
}

nav ul li {
    display: inline;
    list-style: none;
    font-size: 1.3em;
    margin-right: 20px;
}

header {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: 800px;
    color: white;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    padding-top: 23%;
    font-size: 5em;
}

header h3 {
    font-size: 2em;
    margin-left: 17%;
    margin-right: 17%;
    padding-top: 10px;

}

.div-sec-h2 {
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    font-size: 1.5em;
    width: 25%;
    border-bottom: 4px solid #00B172;
}

.div-sec-1 {
    width: 30%;
    float: left;
    margin-left: 5%;
    text-align: center;

}

.div-sec-2 {
    width: 29%;
    float: left;
    text-align: center;
}

.div-sec-3 {
    width: 30%;
    float: left;
    margin-right: 5%;
    text-align: center;
}

.container {
    padding-top: 100px;
    height: 350px;
}

.container h2 {
    color: #00B172;
    font-size: 1.8em;
    font-weight: bold;
}

.container p {
    font-weight: 100;
    font-size: 1.5em;
    padding-top: 25px;
}

.container-2 {
    background-color: #00B172;
    margin-left: 3%;
    margin-right: 3%;
    height: 800px;
    position: relative;
}

.div-kanye {
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    width: 39%;
    padding-top: 80px;
}

.div-kanye-txt-h2 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    border-bottom: 4px solid white;
    width: 100%;
}

.div-kanye-txt {
    color: white;
}

.div-kanye-txt h2 {
    color: white;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 50px;
}

.div-kanye-txt p {
    font-size: 1.2em;
    padding-top: 50px;
    width: 350px;
}

.div-kanye-photo {
     width: 40%;
     float: left;
     padding-top: 80px;
     margin-right: 5%;
}

.div-kanye-photo img {
    margin-left: 41%;
}

.div-icon {
    position: absolute;
    left: 40%;
    bottom: 40%;
}

.div-icon:hover {
    zwidth:100px;
    transition-duration: 0.5s;
    ztransition-timing-function:linear;
    transition-delay: 1s;
    transform: rotate(1080deg);
}