/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
.main-navbar{
  position: fixed;
  height: 70px;
  width: 100%;
  padding-bottom: 5px;
  padding-top: 5px;

  clear: both;
}
header img{
  width: 250px;
  height: 100%;
  float: left;
}
header nav{
  float: right;
  width: 400px;
}

.nav-bar-ul {
  margin: 0 auto;
  width: 100%;
}

.nav-bar-li {
  float: left;
  list-style-type: none;
  text-align: center;
  width: 20%;
}

.nav-bar-item {
  color:black;
  font-size: 1.15em;
  text-decoration: none;
  padding-top: 30px;
  line-height: 70px;
}

.section-2 {
  position: relative;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  width: 100%;
  height: 600px;
  top: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.section-2 h1 {
  color: #fff;
}
.section-2 p {
  color: #fff;
}

.section-3 {
  position: relative;
  width: 100%;
  height: 600px;
  top: 80px;
  margin-top: 10px;
}
.section-3 img {
  height: 130px;
  padding-left: 30%;
  
}
.section-3 h1{
  margin: 0 auto;
  width: 300px;
  padding-top: 40px;
  padding-bottom: 40px;
  text-decoration: underline;
  text-decoration-color: #00B172;
}
.section-3 strong{
  color: #00B172;
  font-size: 1.6em;
}

.sect3-align {
  display: block;
  text-align: center;
}

.col {
  float: left;
}

.col-3 {
  width: 30%;
}

.col-middle {
  margin: 0 5px;
}


.section-4 {
  background-color: #00B172;
  position: relative;
  width: 100%;
  height: 600px;
  top: 80px;
  padding-top: 5px;
  padding-bottom: 5px;

}
.section-4 h1, h2, p {
  color: #fff;
}
.app-img {
  height: 400px;
  float: right;
  top: 0;
  padding-top: 5px;
  padding-right: 20px;

}
.white-icon {
  height: 100px;
  float: right;

}


