/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
img{
    max-width: 100%;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

nav{
background-color:white;
position:fixed;
width: 100%;
left: 0;
height: 90px;
z-index:99999;
}

nav>img.logoheader{
width: 200px;
height: 70px;
padding: 15px;
margin-left: 20px;
}
nav>ul{
    float: right;
    padding-right: 23px;
}
nav>ul>li{
    display: inline;
    line-height: 94px;
    padding: 0 18px;

}

section.section1{
background-image: url(../images/landing.jpg);
padding-top: 120px;
height: 700px;
background-repeat: no-repeat;
color: white;
text-align: center;
background-size: 100% 100%;
}
section.section1 h1{
padding-top: 185px;
font-weight: bold;
}

section.section1 p{
padding-top: 18px;
}

section.section2{
background-color: #fff;
height: 450px;
text-align: center;
}
section.section2 div.textobarra{
margin-bottom: 50px;
padding-top: 20px;
text-align: center;
}
section.section2 div.div1{
width: 33%;
float: left;
box-sizing: border-box;
padding: 0 95px;
 }
 
section.section3{
    background-color: #1EA758;
    color: #fff;
    margin: 40px;
    padding: 58px 85px;
    position: relative;
    height: 640px;
    
 }
section.section3 div2{
    width: 50%;
    float: left;
    padding-right: 10%;
    display: inline-block;
}

section.section3 div2 h2 {
display: inline-block;
margin-bottom:30px;
line-height:57px;
border-bottom: 4px;
}

section.section3 div2 h3{
margin:30px 0;
}

section.section3 div2 p{
line-height: 26px;
padding-right: 200px;
}
.icono{
    position: absolute;
    width: 120px;
    left: 40%;
    top:45%;
    height: 120px;
}
.kanye{
    width:350px;
    float: right;
    padding-top: 17px;

}

