/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
    width:100%;
    height:100%;
    border:dotted;
}

nav {
   height: 100px;
   width:100%;
   margin:0px;
   padding: 0px;
   border: dotted;
   position: fixed;
   background: white
}

nav img {
    width: 10%;
    float: left;
}
nav ul, nav li{
    float: right;
    list-style: none;
}

.intro{
   background-image: url("../images/landing.jpg");
   height:50%;
   width:100%;
}

.intro h1{
    text-align: center;
    top: 300px;
}

.intro h4{
    text-align: center;
}

.quehay > h3{
    color:#00B172;
}

.mucho{
    width: 10%;
}


.music{
    width: 100%;
    height: 100%;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #00B172;
}

.kanye {
    background:#00B172;
    border:20px;
    width: 80%;
    height: 100%;
    margin: 20px;
    padding: 40px;
    position:relative;
}

.kanye > h2{
color:white;
position:relative;
left:5%;
text-decoration: underline;
font-family: Arial, Helvetica, sans-serif;

}

.kanye > h3{
    color:white;
    position:relative;
    left:5%;
    }

.kanye > p{
    color:white;
    position:relative;
    width: 20%;
    left:5%;
}

.app {
    position:absolute;
    right:200px;
    width:15%;
    top:80px;    
}

.icon{
    position:absolute;
    right:550px;
    width:7%;
    top:200px;  
}