/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


.flex-container {
    display: flex;
    justify-content: space-evenly;

}

nav a {
    margin-left: 10px;
    margin-top: 60px;
    margin-right: 45px;
    text-decoration: none;
    color: #1A1A1A;
    letter-spacing: 5;
    font-size: 20px
}

.logo {
    width: 25%;
    transform: scale(1);
    transition: .3s ease-in-out;
    
}

.logo:hover {
    transform: scale(.5);

}

nav a {
    display: flex;
    justify-content: space-between;

}

h1 {
    letter-spacing: 5;
    font-size: 60px;

}

header {
    background-image: url(../images/landing.jpg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    padding: 400px;
    margin-bottom: -60px;
    margin-top: -50px;
    color: white;
    text-align: center;
}

img {
    width: 100px;
    padding-top: 50px;

}

h2 {
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    text-decoration: underline #00B172;


}

h3 {
    color: #00B172;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5;
}

div p {
    font-weight: 50;
    letter-spacing: 3;
    width: 160px;
    text-align: center;
    color: #1A1A1A;
    letter-spacing: 5;

}

h4 {
    border-bottom: 1px solid;
    text-decoration: none;
    font-weight: 500;
    font-size: 30px;
}

h5 {
    font-size: 20px;
}

.green-img {
    background-color: #00B172;
    color: white;
    margin-top: 25px
}

.app {
    width: 250px;
    margin-bottom: 55px;
}

.yeezy p {
    width: 240px;
    letter-spacing: 3;

}

.white-logo {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-top: 170px
}