/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* ---- reset ---- */

html {
box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    margin: 0;  
    padding: 0;
}

nav {
    position: fixed;
    text-decoration: none;
}

nav a {
    float: right;
}

.spotify-logo {
    width: 30%;
    float: left;
}

.container {
    max-width: 10%;
    max-height: 50%;
    height: auto;
}

.background-crowd {
    
}