/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF

body {
  font:
  margin:auto;
  width:auto;
  height: auto;
}
*/
.navbar{
  width:inherit;
  position: fixed;
  Text: 1A1A1A;
  font-family: sans-serif;
  font-size: 10;
}
.navbar img {
  float: left;
  width:190px ;
  height:auto ;
  margin-bottom: 1px;
  margin-left: 40px;
}
#navlist  {
  float: right;
  font-family: sans-serif;
  font-size: 19px;
  word-spacing: 30px;
  text:
}
.mainbox{
  float: left;
  height: 590px;
  padding-top: 10px;
  margin: 0 1%;
  width: 48%;
width:1280px;
height:500px;
background: url("../images/landing.jpg");
background-size: contain;

  color: #ffffff;
  font-size: 58px;
  font-family: sans-serif;
  font-weight: bolder;
  margin:
}
/*#maintxt2{
  color: #ffffff;
  font-family: sans-serif;
  margin-bottom: 500px;
}
*/
.bottomwhat{

}
