//colors
$text: #1A1A1A;
$green: #00B172;
$white: #FFF;


.wrapper{
    background-color: $white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:18px;
}
.top-container{
    position: fixed;
    height: 400px;
    nav{
        display: flex;
        display: row;
        img{
        width: 200px;
        }
        ul{
            li{
                list-style: none;
            }
        }


    }
    
}