/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

$green: #00B172;
$gray: #1A1A1A;

$text: $gray;

* {
  font-family: 'Helvetica';
}

body {
  margin: 0;
}

nav {
  padding: 15px 0;
  background-color: #fff;

  img, ul {
    display: inline-block;
    vertical-align: middle;
  }

  img {
    width: 150px;
    height: auto;
    margin-left: 50px;

  }

  ul {
    float: right;
    margin-right: 50px;

    font-size: 15px;

    li {
      display: inline-block;

      margin: 0 10px;
    }
  }
}

header {
  height: 100vh;
  line-height: 100vh;

  color: #fff;

  background-image: url('../images/landing.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


  .content {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    line-height:4em;
    margin: 0 auto;
    float: none;
    width:100%;

    span, b {
      display: block;
    }

    b {
      font-size: 70px;
      margin-bottom: 30px;
    }

    span {
      font-size: 30px;
      line-height:1.4em;
      font-weight: 300;
    }

  }
}

.body-container {
  padding: 40px;
  text-align: center;

  .title {
    font-size: 40px;
    padding-bottom: 5px;
    border-bottom: 4px solid $green;

  }

  .row {
    position: relative;
    display: table;
    vertical-align: top;

    margin-top: 50px;

    .col-3 {
      display: table-cell;
      width: 32%;

      padding: 30px;
      box-sizing: border-box;

      img, .col-3-title, span {
        display: block;
        margin: 0 auto;
      }

      img {
        width: 120px;
      }

      .col-3-title {
          margin: 15px 0 20px;

          color: $green;
          font-size: 30px;

      }

      span {
        font-size: 25px;
        font-weight: 300;

        color: $text;
      }


    }
  }

  .section-green {
    display: table;
    margin-top: 50px;
    padding: 50px 80px;

    color: #fff;
    background: $green;
    background-position: center;
    background-image: url("../images/spotify-icon-white.png");
    background-repeat: no-repeat;
    background-size: 120px;

    .row {
      display: table-row;
      text-align: left;

      .col-left, .col-right {
        display: table-cell;
        vertical-align: top;
      }

      .title {
        padding-bottom: 5px;
        font-size: 30px;
        border-bottom: 4px solid #fff;
      }

      .info-group {
        width: 70%;
        margin-top: 50px;

        line-height: 30px;
        font-size: 20px;
        font-weight: 300;

        b {
          display: block;
          font-size: 30px;

          margin-bottom: 20px;
        }
      }

      .col-left {
        padding-right: 150px;
      }

      .col-right {
        padding-left: 150px;
        vertical-align: bottom;
        img {
          width: 100%;
        }
      }

    }

  }
}
