/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
  font: 18px/1.33 'Montserrat', Helvetica Neue, sans-serif;
  color: #1A1A1A;
  margin: 0;
  padding: 0;
}
.row {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
.main-navbar {
  background: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding: 0 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.brand-logo {
  max-width: 150px;
  animation: bouncingLogo;
  cursor: help;
}
.brand-logo:hover {
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
.brand-logo img {
  max-width: 100%;
  height: auto;
}
.main-menu {
  text-align: right;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-menu li {
  display: inline-block;
}
.main-menu li:not(:last-child) {
  margin-right: 1.5em;
}
.main-menu a {
  color: #1A1A1A;
  text-decoration: none;
}
.main-navbar ~ .splash-landing {
  margin-top: 65px;
}
.splash-landing {
  background: #000 url(../images/landing.jpg) no-repeat center;
  background-size: cover;
  color: #fff;
  text-align: center;
  height: calc(100vh - 65px); /* Maybe problematic in some browsers */
  padding-top: 25vh;
  box-sizing: border-box;;
}
.splash-landing h1 {
  font-size: 3.5em;
  margin: 0 auto .5em;
  font-weight: 600;
}
.lead {
  font-size: 1.333em;
}
.features-list {
  text-align: center;
}
.features-list h2:after {
  border-color: #00B172;
}
h2 {
  font-size: 1.5em;
  position: relative;
  display: inline-block;
}
h2:after {
  content: '';
  border-top: 3px solid;
  display: block;
  position: absolute;
  top: 110%;
  width: 100%;
}
.big-features {
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.big-features li {
  box-sizing: border-box;
  width: 33.333%;
  max-width: 15em;
  padding: 3em 2em;
}
.big-features h3 {
  color: #00B172;
}
.feature-icon {
  max-height: 100px;
  width: auto;
}
.spotify-background {
  box-sizing: border-box;
  background: #00B172 url(../images/spotify-icon-white.png) no-repeat center;
  background-size: 100px auto;
  color: #ffffff;
  padding: 1em 5em;
  margin-bottom: 2em;
}
.columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}
.columns.two col {
  flex-grow: 1;
  box-sizing: border-box;
}
.standard-features {
  margin: 0;
  padding: 0;
  list-style: none;
  max-width: 300px;
}
.app-screenshot {
  max-width: 280px;
}
@keyframes bouncingLogo {
  20%, 50%, 80% { transform: translateY(0)}
	40% { transform: translateY(-20px)}
	60% { transform: translateY(-10px)}
	}
}
