/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
#header{
    height:70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
}
#logo{
    height:100%;
}
#logo img {
height: 100%;
}

#navbar{
    display: inline-block;
}

#barra{
    margin: 0 5px;
}


.main{
    background-image: url(../images/landing.jpg);
    min-height: calc(100vh - 95px);
    background-size: 100%;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h1{
    font-size: 2em;
    text-align: center
}

h2{
    font-size: 1.4em;
    font-weight: 600;
}

#landingText{
    vertical-align: center;
    text-align: center;
}

#news{
    margin-top: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.containerChico article{
    width: 33%;
    display: inline-block;
}


.logos{
    width: 120px;
}

#subrallado{
    border-bottom: 3px solid #00B172;
    width:100%;
}

#verde{
    height: calc(100vh);
    background-color: #00B172;
    margin: 30px 
}

#iphonecase{
    position: relative;
    left: 870px;
    bottom: 40px;
    top: 90px;
    width: 250px;

}

#iphone{
    max-width: 100%;
}

#logoBlanco{
    position: relative;
    display: flex;
    justify-content: center;
}

#blanco{
    max-width: 100% ;
}
