

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
   font-family: 'Nunito', arial;
}
ul{
  margin: 5%;
  
}


/*
  <!-----><img class="logo_nav" src="images/spotify-logo.png" alt=""><!----->
.container{
  width: 80%;
    background-color: black;
}

.logo_nav{
  width: 144px;
  height: 42px;
  padding-left: 18px;
  padding-top: 4px;
}
.container < ul {
  list-style-type: none;
  padding: 5px;
  width: 50px;
  height: 50px;
  float: left;}*/

  .Music_4{
    background-image: url("https://raw.githubusercontent.com/ironhack-labs/lab-css-spotify-clone/master/starter-code/images/landing.jpg");
    background-position: 0, 0;
    background-repeat: center center;
    background-size: cover;
    width: 100%;
    height: 557px;
}
h1{
  color:white;
  text-align: center;
  padding-top: 249px;

 
}  

.textImage{
  color:white;
  text-align: center;
  padding-top: -18px;
  
 }
.whatsOn, .whats{
  text-align: center;
  padding: 5px;
}

 hr{
  height: 0px;
  width: 214px;
  position: relative;
  right: 1px;
  top: -18px;
  color: #00B172;
 }
 section{
   align-items: center;
  float: left;
  height: 175px;
  margin: 0 20px 20px 0;
  padding: 10px;
  width: 30%;
 }

 .imagWha{
  width: 68px;
  height: 59px;
 }

 h3{
   color: #00B172;
 }


 .kanye{
  background-color: #00B172;
  
}

