/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
nav.navbar{
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background: #fff;
    z-index: 100;
    height: 95px;
}
nav.navbar img{
    width: 215px;
    margin: 15px 30px;
}
nav.navbar ul{
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    float:  right;
    margin-right: 30px;
    padding: 33px 0;
}
nav.navbar li {
    display:  inline-block;
    font-size:  20px;
    margin: 0 13px;
}

.clear{
    clear: both;
}
header.header{
    background-image: url(../images/landing.jpg);
    height: 100vh;
    margin: 95px 0 50px;
    padding: 0;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -2;
}
.header .header_text{
    color: #fff;
    text-align: center;
    position: absolute;
    top: 33%;
    right: 18%;
}
.header h1{
    font-size: 70px;
    letter-spacing: 10px;
    margin-bottom: 30px;
}
.header h3{
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    line-height: 1.5;
}

section.whatsSpotify h2{
    text-align: center;
    font-size: 35px;
}
h2 span{
    border-bottom: 3px solid #51b36b;
    letter-spacing: 3px;
}
div.benefits{
    display: inline-block;
    text-align: center;
    margin: 30px;
    width: 25%;
    vertical-align: middle;
}
div.benefits img{
    max-width: 80%;
    width: 135px;
}
div.benefits h3 {
    padding: 30px;
    color: #51b36b;
    font-size: 25px;
}
div.benefits p {
    font-size: 22px;
    font-family: Raleway;
    width: 80%;
    margin: 0 10%;
}
#left{
    margin-left: 7%;
}
div.container_kayne{
    background-color: #51b36b;
    height: 110vh;
    margin: 20px;
}
.text{
    display: inline-block;
    width: 40%;
    margin-left: 90px;
}
section.kayne{
    color: #fff;
    position: relative;
}
.text p{
    font-family: Raleway;
    font-size: 25px;
    width: 74%;
}
.icon-white{
    width: 100px;
    padding-bottom: 20%;
}
.spotify-app{
    position: absolute;
    width: 300px;
    vertical-align: middle;
    right: 0;
    margin-right: 90px;
}
.container_kayne span {
    border-bottom: 3px solid #fff;
    letter-spacing: 3px;
}
.container_kayne h2 {
    padding-top: 60px;
    margin-left: 90px;
    font-size: 35px;
}
.text h3{
    font-size: 30px;
    margin: 35px 0;
}