.flex-container {
    display: flex;
  }
  
  .nav-bar {
    height: 80px;
    align-items: center;
    font-size: 1em;
  }
  
  .nav-bar li {
    display: inline;
    text-decoration: none;
    padding: 20px;
    justify-content: flex-end;
  }
  
  .nav-bar img {
    height: 60px;
    margin-left: 20px;
  }
  
  .spotify-logo {
    width: 70%; 
  }
  