@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

* {
  margin: 0;
  padding: 0;
  font-family: roboto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}