.section1{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 2rem;
}
.section1 ul{
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    }

/* nav ul{
    display:flex;
    justify-content: space-between;
} */

.section1 ul > li{
    list-style: none;
    margin-right: 1.5rem;

}

.height-div{
    display: flex;
    margin-bottom: 2rem;
}


.section1 img{
    width: 31%;
    margin-left: 3rem;
    height: 6rem;
    
}
