
.rest h2{
    color: white;
    
}

.rest h1 {
    display: inline;
}
.text-divs{
    text-align: left;
    margin-top: 13.5rem;
    max-width: 33rem;
    font-size: 1.6rem;
    margin-left: 5.5rem;
    display: flex;
    flex-direction: column;
}
.rest{
    background-color: #00B172;
    height: 60rem;
    margin: 4rem;
    display: flex;
    color: white;
    flex-direction: column;
    width: 92vw;
    
}



.rest img{
    display: block;
    height: 100%;
    width: 88%;
    max-height: 10rem;
    max-width: 10rem;
    
}

#underline{
    border-bottom: white solid 2px;
    font-weight: 500;
    margin-left: 5.5rem;
    margin-bottom: 10rem;
    
}


.inside-div{
    margin:2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.inside-div h2{
    font-size: larger;

}

#kanye{
    display: block;
    max-width:70%;
    max-height: 100%;
    width: auto;
    height: auto;
    margin-left: 7rem;
    margin-top: 4rem;

}

.sec-4-header{
    position: absolute;
    font-size: 2rem;
}

#spotify-img{
    margin-top:26rem;
    margin-left: 4rem;
}