.section2 .icon{
    background-image: url("../images/landing.jpg");
    height: 50em;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    width: 100vw;
}
.section2 .allofit img{
    height: 30vh;
}

.icon h1,h4 {
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}
.icon h1{
    font-size: 50px;
    font-size: 6rem;
}

.icon h4{
    margin:0.5px;
    font-size: 30px;
}
