
#bottbord{
    font-weight: 900;
    display: flex;
    justify-content: center;
}

 #bottbord h1{
    border-bottom: solid #00B172;
    border-width: 5px;
    font-size:3rem;
}

.icon-spacing{
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
}

.icon-spacing div{
    text-align: center;
}




.div-img-1{
  max-width: 15rem;
  margin-right: 17rem;
  margin-left: 9rem;

 }
.div-img-2{
  max-width: 15rem;
  margin-right: 18rem;
 }
.div-img-3{
  max-width: 15rem;
  margin-right: 9rem;
 }

.section3 img{
   height: 25vh;
}

.section3 {
    display: flex;
  
    justify-content: space-around;
   
}

.green-head{
    color: rgb(60, 240, 60);
    font-weight:bold;
    text-align: center;
}

.green-text{
    font-weight: normal;
}

.text-div{
 text-align: center;
 
}