/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
  height:100%;
  width: 100%;
  font-family: helvetica;
}

header {
  position:fixed;
  height: 100px;
  width: 100%;
  background-color: white;
  margin-top: 0px;
  top: 0px;
  left: 0px;
}

.spotify {
  padding: 10px 10px;
  float:left;
  width:auto;
  height:50px;
  width:auto;
}

.menu {
  padding: 10px 10px 10px 800px;
  float:left;
  height:50px;
  width:auto;
  width:auto;
}

.backgroundimage {
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1000px;
  margin-top: 100px;
  font-size: 50px;
  color: white;
  align-content: center;
  text-align: center;
  padding-top: 80px;
}

.upperBody {
  background-position: center;
  width:30%;
  height:30%;
}

.column {
  padding: 10px 10px;
  float: left;
  height: 325px;
  width:30%;
  box-sizing: border-box;
  text-align: center;
  font: helvetica;
  font-size: 28px;
}

.downBody {
  clear: left;
}

.whats {
  color: black;
  text-align: center;
  font-size: 32px;
  text-decoration: underline;
  text-decoration-color: #00B172;
}

.h4 {
  color: #00B172;
}

.downBody {
  background-color: #00B172;
  color: white;
  margin: 20px;
  padding: 80px;
  float: left;
  height:auto;
  width:auto;
}

.app {
  height: 750px;
  width: auto;
  float:left;
}
