.yeezy-container {
    width: 1200px;
    height: 760px;
    background-color: green;
    color: white;
    border: 2px solid black;
}

.yeezy-text {
    padding-left: 90px;
    padding-top: 90px;
    width: 300px;
    float:left;
}

.yeezy-text hr {
    width: 380px;
    display: inline-block;
}

.inner-container {
    border: 2px solid black;
    width: 500px;
    height: 800px;
}

.kanye-img  img{
    border: 2px solid red;
    width:400px;
    height: 600px;
    float: right;
    margin-top: 80px;
    margin-right: 80px;
}

.logo img {
    height: 90px;
    width: 90px;
    float: right;
    padding-top: 300px;
    padding-right: 60px;
}
