/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* html, body {
  margin: 13px 30px;
} */

.nav-container {
  display: flex;
  margin: 13px 30px;
}

.spotify-intro {
  width: 40%;
}

.spotify-intro img{
  width: 168px;
  height: 54px;
  display: flex;
  display: block;
}

.nav-buttons {
  display: flex;
  list-style: none;
  width: 60%;
  justify-content: flex-end;
  align-items: flex-start;
  
}

.nav-buttons li {
  display: inline-block;
  flex-direction: row;
  margin-right: 12px;
  font-size: 30px;
}

header {
  background: url("../images/landing.jpg") no-repeat;
  background-size: cover;
  height: 1000px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

header h1 {
  font-size: 85px;
}

header p {
  font-size: 40px;
}


.text-white-center {
  color: white;
  text-align: center;
  display: flex;

}

.div-p {
  width: 60%;
  margin-top: 0;
}



/* 
margin: 13px 30px; */

.section1 {
  /* display: flex; */

}

.whats-on {
  /* display: flex; */
  text-align: center;
  font-size: 40px;

}


.subrayado {
  border-bottom: 5px solid #00B172;
  padding-bottom: 3px;
  margin: 0 510px 0; 
}

.img-icons {
  height: 100px;
  width: 100px;
  display: flex;
  margin-left: 135px;
}

.container-items {
  display: flex;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;

}

.icon-box {
  display: block;
  width: 360px;

}

.icon-h {
  color: #00B172;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
}

.icon-p {
  color: #1A1A1A;
  font-size: 30px;
  text-align: center;
}

.margin-ext {
  margin-top: 25px;
}

.final-box {
  background: #00B172;
  margin: 13px 30px;
  height: 856px;
}

.text-box-final {
  color: white;
  text-align: left;
  font-size: 30px;
  width: 30%;
  margin-left: 100px;
}

.h-box-final {
  color: white;
  font-size: 40px;
  text-align: left;
  margin-left: 100px;
  width: 40%;
  padding-top: 60px;
  padding-bottom: 20px;
}

.subrayado-white {
  border-bottom: 5px solid white;
  height: 50px;

}

.div-icon-logo{
  width: 100px;
  position: absolute;
  right: 650px;
  top: 2000px;

}
.icon-white{
  width: 100px;
}

.div-kanye-logo{
  width: 100px;
  position: absolute;
  right: 400px;
  top: 1700px;
}

.icon-kanye{
  height: 700px;

}