/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
* {
  margin:0;
}
body {
      font-family: roboto;
      background: #fff;
}
p{
    font-size: 1em;
}
h1{
    font-size:6em;
    color:#FFF;
    text-align: center;
    padding: 250px ; 

    }
h2{
    font-size:4em;
}
h3{
    font-size:3em;
    padding: 20px
}
nav{
    height: 150px;
}
.nav-bar{
    height: 100px;
    margin: 25px 60px;
    display: flex;
    justify-content: space-between;  
} 
.nav-bar img{
    width: 25%;
}
.nav-bar-links{
    font-size: 2em;
    width: 40%;
    height: 100px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    
}
.nav-bar-links a{
    text-decoration: none;
    color: #1a1a1a;
}


.header{
    background-image:url(../images/./landing.jpg);
    height:1280px;
    background-size: 100% 100%;
    background-repeat: no-repeat ;
    color: #FFF
}
.slogan{
    font-size: 2em;
    text-align: center;
}
.whats-on{
    text-align: center;
    padding: 80px;
    text-decoration: underline #00B172;
}

.whats-on-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.white-text{ color: #FFF;
    text-align: center;
}
.item {
    height: 500px;
    width: 500px;
    text-align: center;
} 
p{
    font-size: 2em;
}
.small-size-image{
    height: 300px;
    width: 300px;
}
.green-back-and-white-txt{
    background-color: #00B172;
    color: #FFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 100px;
    margin: 30px;
    
}
.app-print{
    height: 1000px
}
/*
    color:  #00B172;
    text-decoration:none;
    float: right;
    font-size: 3em; */
}
/*font-size:9em;
    text-transform:uppercase;
    color:#FFF;
    text-align: center;
    line-height:4em;
    letter-spacing: 0.4px;*/
