///*
//Colors:
//
//Text: 1A1A1A
//Green: #00B172
//White: #FFF
//
//*/


$color-text-main: #1A1A1A;
$color-green-text: #00B172;
$color-green-bg: rgb(83, 174, 112);

$height-navbar: 70px;

body{
  margin: 0;
  font-family: Circular, Helvetica, Arial, sans-serif;
  color: $color-text-main;
}

nav{

  //padding-top: 10px;
  height: $height-navbar;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  background-color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  #spotify-logo{
    padding: 10px 20px;
    height: 70%;
  }

  ul{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    list-style-type: none;

    li{
      height: 100%;
      padding: 0 15px;

      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      a{
        text-decoration: none;
        color: $color-text-main;
        transition: color 500ms;
      }
      transition: background-color 500ms;
    }

    li:hover{
      background-color: $color-green-bg;

      a{

        color: white;
        font-weight: 500;

      }

    }
  }

}

header{
  margin-top: $height-navbar;

  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: 940px;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

  h1{
    font-size: 55px;
    letter-spacing: 1px;
  }

  .paragraphs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;

    p{
      margin: 5px;
      font-weight: 300;
    }


  }

}

main{
  padding-left: 3%;
  padding-right: 3%;
}

#features-presentation{

  margin-top: 30px;
  margin-bottom: 80px;


  .container-section-title{
    display: flex;
    justify-content: center;
    h2 {
      font-size: 27px;
      font-weight: 900;
      padding-bottom: 3px;
      letter-spacing: 1px;
      border-bottom: 4px solid $color-green-text;
    }
  }

  ul.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    list-style-type: none;

    li{
      margin: 0 10px;
      width: 30%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      letter-spacing: 1px;

      .container-img{

        display: flex;
        justify-content: center;
        align-items: center;
        height: 75px;
        width: 70px;
        //margin-bottom: 16px;

        img{
          height: 100%;
          //width: 70px;
          margin: 0 auto;
        }
      }

      h3{
        padding: 10px 0;
        color: $color-green-text;
        margin: 8px;
      }

      p{
        text-align: center;
        font-weight: 300;
        margin: 8px;
      }
    }
  }


}

#green-demo{

  margin-bottom: 30px;

  background-color: $color-green-bg;
  background-image: url("../images/spotify-icon-white.png");
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: center;

  color: #fff;
  padding: 8%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .desc{
    width: 500px;
    height: 100%;
    margin-right: 30px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2{
      letter-spacing: 1.5px;
      padding-bottom: 5px;
      border-bottom: 3px solid #fff;
      width: 74%;
    }

    ul{
      padding-left: 0;
      list-style-type: none;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      li{

        margin: 10px 0;
        padding-right: 120px;

        .text-content{
          p{
            margin: 0 0;
            font-weight: 200;
            line-height: 24px;
            font-size: 17px;
          }
        }
      }
    }

  }

  .img-container{
    width: 400px;
    margin-left: 30px;
    padding-left: 60px;
    img{
      width: 100%;
    }
  }


}

//TODO :
//- left section in green div not taking full height
//- Title of left sectiin in green div taking more width than it should
