/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/



html {
    font-family: sans-serif;

  }

*{
    margin: 10px;
    padding: 5px;

}

header{
    background-color: #fff;
    height: 100px;
}

header > img{
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;
    height: 70px;
    margin: 10px; 
    margin-left: 50px;
}

header > img:hover {
    opacity: 1;
    visibility: visible;
    transition: all .3s;
}

header nav ul {
    float: right;
    list-style: none;
    height: 60%;
    width: 45%;
    padding: -1%;
    word-spacing: 0.5px;
    margin-right: -50px
}

header nav ul > li{
    float: left;
    padding: .2% 4%;
    margin: 7px;
    color: black;
    font-size: 25px
}

header > div{
    height: 20px;
}




/*Main*/

section img{
    image-orientation: from-image
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 1000px;
    
}

div nav > a{
    color: #fff;
    font-size: 100px;
    text-align: center;
    position: absolute;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    transform: translate(37%, 0%);
    top: 580px;
}

div nav > p{
    color: #fff;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    text-align: justify;
    position: absolute;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    transform: translate(8%, 0%);
    line-height: 1.5;
    top: 700px;
    padding: 10px;
}

.background{
    background-color: #00B172;
    background-size: 25px 50px;
    background-size: 50% 50%;
}
