/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

.navbar{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;

}

.buttons{
    padding-right: 3%;
    padding-top: 2%;
    font-size: x-large;
    
}

.spotLogo{
    width: 10%;
    padding-top: 1%;
    padding-left: 2%;
}

.backImg{
    display: block;
    width: 100%;
    
    position: relative;
    text-align: center;
    color: white;
    
}

.centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5.2em;
    white-space: nowrap;
}

.centered2{
    text-align: center;
    font-size: 30%;
}


.whatsOnSpotify{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;

}

.musicIcon{
    width: 10%;
}

.qualityIcon{
    width: 10%;
}

.deviceIcon{
    width: 10%;
}

.millions{
    display: flex;
}

.col{
    display: inline-block;
    text-align: center;
    width: 40%;
    
}

.titles{
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    color:#00B172 ;
}

.texts{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

.line{
    height: 50%;
    width: 15%;
    border : 2px solid #00B172;

    
}