.grid-container > div {
  background-color: aqua;
  border: 1px solid black;
}

.grid-container {
  display: grid;
  grid-template-columns: 200px 250px;
  grid-auto-rows: minmax(150px, auto);
  grid-gap: 20px;
  grid-template-areas: "header header" "sidebar content" "sidebar content";
}

.grid-item-1 {
  grid-area: header;
}

grid-item-2 {
  grid-area: sidebar;
}

grid-item-3 {
  grid-area: content;
}
