/* Primera sección */


.nav-bar-ul{
    box-sizing: border-box;
    width: 700px;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  float: right;

}
.imagenuno {

    width: 150px;
    height: 50px;
}


/* Segunda sección */

.grande {
    background-image: url(/images/landing.jpg);
    background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  width: 1500px;


  color: white;
  display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    align-content: center;
}

.music {
    font-size: 70px;
    
}
.blanco{
    font-size: 25px;
}



/* Tercera Sección */

.logos img {
    width: 90px;
  }
  
  .logos {
      width: 150px;
      text-align: justify;
  }
  .subrayado {
      font-size: 40px;
      text-align: center;
    text-decoration: underline #00B172;
    text-decoration-color: Green: #00B172;
  }
  
  .tercera {
      display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    align-content: flex-start;
  }
 .logos  h3 {
     font-size: 20px;
     color:#00B172;
 }

/* Cuarta sección*/

.cuarta {
    
    display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: stretch;
}

.kani{
    font-size: 40px;
    color: white;
    text-decoration: underline white;
}

.kaniss {
    width: 250px;
    display: flex;
    flex-direction: row;
}

.spo {
    width: 200px;
    height: 200px;
}

.ultimo {
    color: white;
    width: 500px;
}

.ahora {
    background-color: #00B172;
}