body {
    margin: 0;
}

.spotifyLogo {
    width: 300px;
    padding: ;
}

.nav-bar {
    padding: 20px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 650px;
    font-size: 1.8em;
    font-family: sans-serif;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.presentation {
    background-image: url("../images/landing.jpg");
    height: 650px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 12em;
    text-align: center;
    font-family: sans-serif;
    color: white;
}

h1 {
    font-size: 5em;
}

.presentation > article {
    font-size: 3em;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    font-family: sans-serif;
}

.whatOn {
    background-color: #00B172;
    height: 0.3em;
    width: 355px;
}

.information > div {
    display: flex;
    justify-content: space-evenly;
}

.information > div > article > img {
    width: 170px;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
	align-items: center;
    align-content: space-between;
    margin-top: 100px;
}

.container > h3 {
    font-size: 2em;
    color: #00B172;
    font-family: sans-serif;
}

.container > p {
    font-size: 1.5em;
    font-family: sans-serif;
    text-align: center;
}

.features {
    background-color: #00B172;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 30px;
}
.options {
    font-size: 1.5em;
    color: white;
    font-family: sans-serif;
    margin: 80px 0px 80px 80px;
}

.options > h3 {
    font-size: 2em;
    color: white;
    font-family: sans-serif;
}
.options > hr {
    background-color: white;
    height: 0.1em;
}

.options > h4 {
    font-size: 1.2em;
}

.options > p {
    font-size: 0.9em;
}

.spotifyIcon > img{
    width: 150px;
    position: absolute;
    left: 700px;
}

.mobile > img {
    width: 350px;
    margin: 80px 80px 80px 0px;
}





/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/