/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/

body {
font-family: circular,Arial, Helvetica, sans-serif;
color: black;
}

.navbar {
    width: 100%;
    height: 5%;
}

.logo {
    float: left;
}

.links {
    float: right;
}

h1{
    font-size: 36px;
}

header.landing{
    width: 1000px%;
    height: auto;
    align-items: center
}