nav{
  background-color: white;
  font-size: 1.5em;
}

.menu-item{
  float: right;
  list-style: none;
  padding: 5px;
}

  .music{
    background-image: url(../images/landing.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 300px;
  
  }
  .music,h1{
    font-size: 3em;
  }
  .music,h2{
    font-size: 1.5em;
  }
  .on-spotify{
    text-align: center;
    margin: 0 auto;
    padding-left: 150px; 
    padding-right: 150px;
    font-size: 1.25em;
  }
  .on-spotify > div {
    display: inline-block;
  }
  .on-spotify,h4{
color: #00B172;
  }
  .on-spotify,p{
    color: black;
  }
  hr{
    color: #00B172;
  }
  .card{
    width: 30%;
  }

  .green{
    background-color: #00B172;
    color: white;
    padding: 100px;
    text-align: center;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  h1{
    text-decoration: underline;
  }
  .last-images{
    position: relative;
    width: 60%;
    justify-content: space-between;
  }
  .kanye{
    position: relative;
    width: 40%;
  }
  


