.body {
    font-family: Arial, Helvetica, sans-serif;
}

#top-Bar {
    background-color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 1px;
    top: 0;
}

#section-logo {
    margin-right: 1px;
}

#logo-top-bar {
    width: 30%;
    height: 30%;
    display: inline-block;
    margin: 7px;
}


#top-links {

    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;

    /* border: 10px solid black; */


}

#top-links li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    font-size: 16px;
}

.fLinks {
    /* border: 8px solid red; */
    padding: 10px;
    margin: 10px;
    background-color: whitesmoke;


}

#background-img {

    background-image: url("images/landing.jpg");
    background-color: black;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

/* #conteiner-img {
    height: 50%;
    border: 10px solid rgb(38, 0, 255);
    margin: 0; */
/* position: absolute; */
/* justify-content: center; */
/* color: rgb(255, 255, 255); */

/* } */
.overlay {
    display: flex;
    align-items: center;
    justify-content: center;

}

#text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* border: 5px solid rgb(255, 255, 255); */
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 2px;
    width: 59%;
    background-color: rgba(0, 0, 0, 0, 5);
    padding: 10px;
    margin-top: 100px;

    text-align: center;

}



#landing-bg {
    width: 100%;
    height: 50%;
    display: inline-block;
    border: 10px solid rgb(9, 255, 0);
    margin: 0s;
}




#sec-title {
    color: rgb(0, 0, 0);
    border: 12 px salmon solid;
    text-decoration: underline mediumaquamarine;
    text-decoration-thickness: 2px;
}

#whats-On {
    display: flex;
    flex-direction: column;
    /* border: 5px solid pink; */
    justify-content: center;
    align-items: center;


}

#million-Songs {
    /* border: 5px solid greenyellow; */
    display: flex;
    flex-direction: row;
}

.on-Spotify img {
    width: 40%;
    height: 40%;
}

.on-Spotify h3 {
    /* color: mediumaquamarine; */
    font-weight: bold;
    color: rgb(15, 161, 118);


}

.on-Spotify {
    /* border: 3px solid black; */
    margin: 10px;
}

#closing {
    background-color: rgb(15, 161, 118);
    display: flex;
    flex-direction: row;

}

#yeezywest {
    display: flex;
    flex-direction: column;
    /* border: 4px solid black; */
    width: 100%;
    color: white;
    margin: 30px 10px 10px 50px;
    font-weight: lighter;


}

#yeezywest article {}

#yeezywest h2 {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

#white-logo {
    width: 20%;
    height: 20%;
    /* border: 10px solid red; */
    margin: 19px;
}

#app {
    width: 50%;
    height: 90%;
    margin: 25 20 20 20;
}

#test {
    /* border: 10px solid black; */
    display: flex;
    flex-direction: row;
    align-items: center;
}