/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  display: flex;
}
  .nav-bar-ul {
    list-style: none;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    font-size: 135%;

  }

  .nav-bar-ul li {
    margin-left: 10px;
  }

  .spotifyLogoGreen {
    background-position: left;
    background-repeat: no-repeat;
    width: 20%;
  }
  .spotifyLanding{
     width: 100%;
     
  }

  .headerTexto1 {
    font-size: 5em;
    text-align: center;
    color: #FFF;
    margin: 0 auto;
    width: max-content;
    text-align: center;
  } 

  .headerTexto2 {
    text-align: center;
    color: #FFF;
  }

  h3{
    text-align: center;
    font-size: xx-large;
    text-decoration : underline;
    text-decoration-color:#00B172
  }

  .header {
    background-image: url("./images/landing.jpg");
    background-position: relative;
    background-size: cover;
    height: 650px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h4 {
    color: #00B172;
  }

  .spotify-box {
    font-size: 2em;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 50px 5% 0 5%;
    padding: 20px 20px 20px 20px;
    border-width: 20%;
    font-weight: lighter;
   
    

  }

  .spotify-box img {
    width : 125px;
  font-size: 1.7em;
  text-align: center;
  
 
}



