/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
}

header img {
    width: 350px;
    height: 100px;
    padding-bottom: 10px;
    padding-top:10px;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    width: 400px;
    position: fixed;
    left: 70%;
  }
  
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
nav a {
    text-decoration: none;
    color: black;
  }

