/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}

nav {
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

.navLinks {
    display: flex;
    justify-content: space-between;
    width: 381px;
}

.landing{
    background-image: url(https://i.postimg.cc/FK3FF18V/landing.jpg);
    background-position: 0 0;
    background-repeat: no-repeat;
    position: relative;
    height: 700px;
    margin: 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.landing h1{
    font-size: 50px;
    text-align: center;
    color: white;
}

.landing p{
    font-size: 24px;
    text-align: center;
    color: white;
    margin: 0 250px 0 250px;
}

.spotifyImgs {
    width: 30%;
}


.spotifyInfo h3{
    color: #00B172;
}

section.spotifyInfo {
    display: flex;
    justify-content: space-evenly;
}

section.spotifyInfo div {
    display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  text-align: center;
  margin-bottom: 30px;
}

.infoTitle {
    text-align: center;
    text-decoration: underline #00B172;
    padding: 20px;
    font-size: 26px;
    text-emphasis: emphasis;
}

.yeezy {
    background-color:#00B172;
    color: white;
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}

.whiteSpotifyLogo{
    position: absolute;
    top: 274px;
    left: 530px;

}
section.yeezy h1 {
    border-bottom: solid 3px white;
    width: 400px;
    padding-bottom: 7px;
    padding-bottom: 7px;
    margin-left: 42px;
} 

.yeezyDiv {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-left: 40px;
}

.yeezyImg {
    width: 25%;
    position: absolute;
    top: 80px;
    left: 820px;
}

.navLinks a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #1A1A1A;
    
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}