/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
  display: flex;
}
  .nav-bar-ul {
    list-style: none;
    display: flex;
    text-align: right;
    justify-content: flex-end;
    font-size: 135%;

  }

  .nav-bar-ul li {
    margin-left: 10px;
  }

  .spotifyLogoGreen {
    background-position: left;
    background-repeat: no-repeat;
    width: 20%;
  }
  .spotifyLanding{
     width: 100%;
     
  }

  .headerTexto1 {
    font-size: 5em;
    text-align: center;
    color: aliceblue;
    margin: 0 auto;
    width: max-content;
    text-align: center;
  } 

  .headerTexto2 {
    text-align: center;
    color: aliceblue;
  }

  h3{
    text-align: center;
    font-size: xx-large;
  }

  .header {
    background-image: url("./images/landing.jpg");
    background-position: relative;
    background-size: cover;
    height: 650px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header-content {
    
  }
  
