html, body{
  margin:0;
  padding:0;
}

nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding-top: 15px;
  height: 60px;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

.top-links {
  display: inline-block;
  float: right;
  padding: 0;
  margin: 0 20px 0 0;
}

.top-links li {
  display: inline-block;
  margin: 0 10px;
}
.top-left{
  height:30px;
  float: left;
}

.build{
  margin: auto;
    width: 40%;
}
.city{
  float:right;
}
.build{
  background-color: rgb(32, 101, 136);
  color: white;
}

.buildw{
  color: rgba(255,255,255,0.8);
}

.upm-desc{
  color: rgba(255,255,255,0.8);
}

.link-sign-up {
  color:rgb(240,146,51);
}

header {
  background:url("images/city-scape.svg");
  height: 400px;
}



header .busqueda img {
  width: 50px;
  margin: 15px;
}

.compartido{
  float: left;
}

.clearfix{
  clear: both;
}

header .compartido .npm-bar {
  width: 45px;
  padding: 40px;

}

header .busqueda p{
  color: white;
}

header .busqueda p a {
  color:white;
  text-decoration: none;
}
header .banner{
  width: 50%;
  margin: 0 auto;
}
header .banner a{
  color: white;
  background-color:orange; 
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px; 
}

header .banner h1{
  color:white;
}

header .banner p{
  color:white;
}


.col{ 
  float: left; 
}
.collaboration img {
  width: 100px;
}
.col-6 {
  width: 50%;
}

.col-3 {
 width: 33%;
}

.clearfix { 
  clear: both; 
}

/* ESTA ES LA SECCION DE COLABORACIÓN */

#colaboracion {
  background-color: blue;
  padding: 100px 70px;
  height: 400px;
}

#colaboracion .pizq img {
  width: 370px;
  margin: 10;
}

section .pder h2 {
  color:white;
  font-size: 37px;
}

section .pder ul li {
  color:white; 
  margin-bottom: 15px;
  font-weight: lighter;
  font-size: 28px;
}

#colaboracion .pder .signup {
  background: rgb(203, 56, 55);
  padding: 9px 60px;
  border-radius: 136px;
  color:white;
  text-decoration: none;
  text-align: center;
  display:block;
  margin-top: 25px;
}

#colaboracion .pder p {
  color:white;
  text-align: center;
}

#colaboracion .pder p a {
  color:white;
  text-decoration: none; 
}

/*ESTA ES LA SECCION ABOUT */

#about {
  background-image:url("images/forklift.svg");
  margin-bottom: 40px;
  height: 450px;
  background-size: cover;
  color:white;
}

.acerca  {
  
  padding: 124px 20px;
  margin-top: 0px;
  margin-left: 93px;
  width: 350px;
  text-decoration: none;
  font-size: 20px;
}

.acerca h3 {
  font-size: 20px;
}

#about .acerca a {
  
  padding: 10px 60px;
  border-radius: 21px;
  color:white;
  text-decoration: none;
  text-align: center;
  background-color: rgb(49, 68, 88);
}

#about .acerca p{
  margin-top: 38px;
  margin-bottom: 50px;
  font-size: 16px;
}


/* toca la seccion de los tres bloques */

#hacer h3 {
  text-align: center;
  font-size: 28px;
}

#hacer p {
  text-align: center;
  font-size: 15px;
}

.fdb {
  width:33%;
  height:345px;
  padding: 30px 0;
  text-align: center;
  float: left;
}




