 #nav-logo{
        width:140px;
      }

      #nav-list{
        display:inline;
        float:right;
      }

      #nav-list li{
        display: inline;
        padding:10px;
      }

      #nav-list a{
        text-decoration: none;
        color:black;
      }

      #header-image-div{
        position:relative;
        text-align: center;
      }

      #header-image{
        width:100%;
        height:800px;
      }

      #header-image-text{
        position:absolute;
        top:33%;
        left:50%;
        transform: translate(-50%, -50%);
        color:white;
      }

      #header-image-text h1{
        font-size: 70px;
        font-weight: normal;
      }

      #header-image-text div{
        font-size: 25px;
      }

      #section1 h2{
        text-align: center;
      }

      #section1-content{
        display:flex;
        align-content: center;
        align-items: center;
        justify-content: space-around;
      }

      #section1-content img{
        height:70px;
        width:70px;
      }

      #section1-content div{
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        padding:15px;
        width:15%;
      }

      #section1-content h3{
        color:aqua;
      }

      #section1-content p{
        font-size: 20px;
        text-align: center;
      }

      #section2{
        display: flex;
        background-color: green;
        justify-content: space-between;
        align-items: center;
        height:600px;
      }

      #section2 article{
        margin-left:150px;
        height:100px;
        width:33%;
        color:white;
        font-size: 17px;
      }

      #section2-article-div{
        width:50%;
      }

      #section2-image-div{
        display:flex;
        align-items: center;
        justify-content: space-around;
      }

      #section2-logo-image{
        height:150px;
        width:150px;
      }

      #section2-logo-image-div{
        margin-left: :auto;
        margin-right: auto;
      }

      #section2-kanye-image-div{
        margin-right: 100px;
      }

      #section2-kanye-image{
        height:450px;
        width:300px;
      }

      #section2-header{
        border-bottom: 2px solid white; 
        width:40%; 
        margin-left:150px;
        margin-bottom:70px;
        margin-top:0;
        color:white;
      }