/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

/* Overall body attributes */ 

body

{

  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;

}

/*Utility classes used across the document */

.green_background { background-color:#00B172; }

.black { color: black; }

.green { color :#00B172; }

.white { color: white;}

.green_and_thick_bottom_border {  border-color:#00B172;  border-style: solid; margin-bottom: 20px;}

.underline { text-decoration: underline; text-underline-position: under;}

.green_and_thick_text 

{

  color:#00B172;
  font-weight: bold;
  font-size: 20px;

}

.text_centerer {

  display: flex;
  justify-content: center;

}

.padding_around {padding: 20px;}

/* Overall text styling  classes */

h1
{

  font-size: 50px;
  margin-top: 0px;
  margin-bottom: 15px;
  letter-spacing: 1px;

}

h2 

{
  font-size: 25px;
  margin: 0px;
  margin-bottom: 5px;
  letter-spacing: 1px;

}

h3

{
  font-size: 20px;
  margin: 0px;
  margin-bottom: 5px;
  letter-spacing: 1px;

}

/* Images backgrounds used across the document */

.icon_wrappers {

  display: flex;
  margin: 15px;
  justify-content: space-around;
  font-size: 15px;
  text-align: center;
}

.spotify_app { 

    background-repeat: no-repeat;
    background-size: 50%;
    background-position: center;
    background-image:url("../images/spotify-app.jpg"); 
  
  }
  
.spotify_icon_white {
    
    background-repeat: no-repeat;
    background-size: 12%;
    background-position: center;
    background-image:url("../images/spotify-icon-white.png"); 
  
  }

.logo {background-image:url('../images/spotify-logo.png');}
.songs { background-image:url("../images/music-icon.png"); }
.hd { background-image:url("../images/high-quality-icon.png"); width: 150px;}
.phone { background-image:url("../images/devices-icon.png");}


/* Styling of main containers */

/* Overall container class */

.overall_container

{

width: 70%;
padding: 0px 50px;
margin: auto;

}

/* Classes to style the navigation bar */

.main_navigator

{

  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  padding-right: 150px;
}

.logo_wrapper 

{


background-repeat: no-repeat;
background-size: 50%;
height: 50px;
width: 300px;

}

.navigation_list {

  display: flex;
  list-style:none;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
}

.navigation_list li { padding: 15px; }

/* Landing part */

.landing {

background-image:url('../images/landing.jpg');
height: 80vh;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

}

.icon_with_text_and_image {

  width: 30%;
}

.icon_container 

{
  width: 120px;
  height: 100px;
  background-size:cover;
  margin: auto;
}

.sub_text 

{
  width: 70%;
  margin: auto;
}

/* Bottom part with vertical text container */

.vertical_text_container {
    
  color: white;
  width: 35%;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
}

.vertical_text_list

{
  width: 70%;
  line-height: 1.6;
}


  .vertical_text_container h2 {
  
    color: white;
    font-size: 23px;
  /*  border-bottom-style: solid;
    padding-bottom: 10px; */
    
}
  
.vertical_text_container h3 {
    
    margin-top: 30px;
    
  }
  
/*Specifc styling for sections */


#bottom_section

{

    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#side_container { width : 35%;}

#bottom_title { width: 100%; border-bottom-style: solid; border-color: white;  }