/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url("https://fonts.googleapis.com/css?family=Montserrat:100,300,700");

body {
  font-family: Montserrat;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav img {
  height: 40px;
}

nav ul {
  display: flex;
  align-items: flex-end;
  list-style-type: none;
  padding: 0;
}

nav ul li {
  margin: 0 10px;
}

.headercontainer {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  width: 100vw;
  height: 600px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

header h2 {
  font-weight: 300;
  width: 50vw;
}

h3 {
  font-size: 1.5rem;
  border-bottom: 4px solid #00b172;
  padding-bottom: 10px;
  width: 290px;
  margin: 20px auto;
  text-align: center;
}

.threePartContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin: 20px 60px;
}
.threePartContainer article {
  width: 300px;
}

.threePartContainer h4 {
  font-size: 1.5rem;
  color: #00b172;
  font-weight: 700;
}

.threePartContainer img {
  width: 100px;
}

.yeezyContainer {
  background-color: #00b172;
  height: 600px;
  margin: 50px 50px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#logo_white {
  height: 100px;
}

.yeezyContainer div {
  width: 200px;
}

#kanye {
  height: 400px;
}

.yeezyContainer h5 {
  font-size: 1.5rem;
  width: 375px;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.yeezyContainer h6 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.yeezyContainer article {
  font-size: 0.9rem;
  margin: 10px 0;
}
