body {
    
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    position: relative;
}
section{
    width: 1020px;
    max-width: 90%;
    margin: 0 auto;
}
h1,h2,h3{font-family: 'Roboto', sans-serif;}

nav{
    position: fixed;
    background: #fff;
    width: 100%;
}
nav, .flex {
    display: flex;
}
p {font-weight: 100;}
.stream .flex, #greenblock,nav {justify-content: space-between;}
nav {padding: .2rem;}
nav img {
    width: 12rem;
    padding: .5rem;
}
nav ul {
    margin-top: 1.5rem;
}
nav ul li{
    list-style: none;
    padding: 1rem;
    display: inline;
}
header {
    text-align: center;
    color:#fff;
    padding: 12em;
    background: url(../images/landing.jpg);
    background-position: center;
    background-size: cover;
}
header h1 {
    font-size: 4rem;
}
header p {
    font-size: 1.5rem;
}
 header p {
    margin: 0;
}

.stream  {
    text-align: center;
}
.stream h2 {
    font-weight: 900;
    padding-bottom: .5rem;
    border-bottom: solid .3rem green;
    width: 30%;
    font-size: 2rem;
    margin: 2rem auto auto;
    
}
.lead {
    color: green;
    font-weight: bolder;
    font-size: 1.5rem;
}
.items{
    margin: 3rem  0;
}
.items div{
    font-size: 1.5rem;
    margin: 0 2rem;
}
.items div img {
    width: 4rem;
}
#greenblock {
    background:#00B172 url(../images/spotify-icon-white.png) no-repeat center;
    background-size: 10rem;
    padding: 3rem;
    margin: 1rem auto;
    color: #fff;
}
#greenblock img {
    width: 20rem;
}
#greenblock p {
    width: 40%;
}
.yeezy {

    border-bottom: solid .3rem #fff;
    width: 80%;
    padding-bottom: .5rem;
    font-size: 2.5rem;
    margin-bottom: 3rem;
}
#greenleft  div{
    margin: 3rem 0;

}