/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
  margin:0;
  font-family: 'Open Sans', sans-serif;
}
nav {
  height: 90px;
  margin-top: 10px;
}
.spotyimg {
  height: 70px;
  margin-bottom: 0;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 25px;
}
#navl {
   float:left;
  width:30%;}

#navr {
  float:right;
  width:65%;
  text-align: right;
}
li {
  list-style-type: none;
}
a {
  text-decoration:none;
}
.list {
  display: inline-block;
  color: black;
  font-size: 1.2em;
  margin-bottom: 18px;
  margin-left: 18px;
  margin-top: 14px;
  margin-right: 10px;
}

#intro {
  background-image: url("./images/landing.jpg");
  background-size: cover;
  width: 100%;
  height: 700px;
}
h1 {
  color:white;
  font-size: 5em;
  margin-bottom: 0;
}
.introP {
  color:white;
  font-size:30px;
}
.centerIntro {
  position: absolute;
  padding: 180px 50px 200px 260px;
  }
#title {
  color: black;
  text-align: center;
  font-size: 20px;
}
h2 {
  margin-bottom: 2px;
}
hr {
  height: 3px;
  background-color: #00B172;
  border-style: none;
  width: 20%;
  margin-top:0;
  margin-bottom: 10px;
}
/* section 2
*/
.topCols {
  margin-top: 50px;
}

.imgStyle {
  width: 120px;
  height: 120px;
}
.titleGreen{
  color: #00B172;
}
article {
  width: 30%;
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 15px;
  margin-bottom: 15px;
  text-align: center;
}
p {
  font-size: 20px;
}
/* Section 3 */

.colWhite {
  color: #FFF;
  position: relative;
}
#sect3 {
  background-color: #00B172;
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.container1{
  display: inline-block;
  margin-left:50px;
  padding-top: 40px;
  width: 60%;

}
h3 {
  font-size: 30px;
}
.bigger {
  font-size:42px;
}
.container2 {
  display: inline-block;
  width: 25%;
}
.imagekanye{
width: 300px;
}
.imglogo {
  width: 125px;
  position: absolute;
}
