#promo{

    background-color:  #00B172;
    border: 1px solid red;
    height: 550px;
    color: white;
    
}
.container{
    
    
}

.colum{

    float: left;
    width: 30%;
    background-color: transparent;
   
}

.colum-search{
    margin: 10px 0 0 50px;

}

.colum-search > h2{
    text-decoration: underline;

}


.iconWhite{
    position: absolute;
    margin-left: 580px;
    margin-top: 180px;

}

.columApp{
    float: right;
    margin-top: 30px;
    height: 400px;
}

