/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
 
  
}

/* ---- Header ---- */

header {
  position: fixed;
  width: 100%; 
  padding: 10px 20px 5px 20px;
  background-color: white;
   
}

.links {
  display: block;
  padding: 0;
  float: right;
}

.links li {
  display: inline-block;
  margin: 0 10px;
}

.links a {
  text-decoration: none;
  color: #1A1A1A;
}


/* ---- Section : Music for everyone---- */

.main-image {
  background-image: url(./images/landing.jpg);
  padding-top: 63px;
  background-size: contain;
  height: 850px;
  overflow: hidden;
  background-repeat: no-repeat;
  
}

.center-text {
  text-align: center;
}

.main-text {
  color: white;

}

.center-content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.main-text h1 {
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 20px;
}

.main-text p {
  line-height: 0px;
}

/* ---- Section : what's on spotify---- */

.col {
  float: left;
}

.col-3 {
  width: 30%; 
}

.col-middle {
  margin: 0 5% 0 5%;
}

.add-under-line {
  text-decoration-line: underline;
  text-underline-position: under;
}

.middle-container {
  margin: 0 35px 350px 35px;
}

.middle-container h2 {
  text-decoration-color: #00B172;
  margin-bottom: 80px
}

.intermediate-title{
  font-size: 35px;
}

.middle-container h3 {
  color: #00B172;
}

.col-middle img {
  margin-bottom: 15px;
}

/* ---- Section : All green ---- */

.green-container {
  height: 625px;
  background-color: #00B172;
  margin: 0 35px 35px 35px;
  color: white; 
}

.green-container article img {
  margin: 0 auto;
}

.left-article {
  padding-left: 40px;
}

.green-container article h2 {
  white-space: nowrap;
}



