*{
  padding:0;
}
a{
  color:inherit;
  text-decoration: none;
}

body{
     font-family:sans-serif;
     color:#1A1A1A;
     padding-top: 1px;
  }
  .clearfix{
    clear:both;
  }
  header{
    margin:-9px;
    position:fixed;
    height: 80px;
    width: 100%;
    background-color: #fff;
  }header img{
    height: 50px;
    float:left;
  }
  nav{
    padding: 20px;
  }
  nav ul{
    float:right;
  }nav ul li{
    display:inline;
    text-decoration: none;
    margin: 0 5px;
  }#batman{
    background-image: url("./images/landing.jpg");
    width: 100%;
    height: 800px;
    background-size: cover;
    margin-top: 80px;
  }#batman h1{
    font-size: 50px;
    color:#fff;
    text-align: center;
  }
  #robin{
    text-align: center;
    margin-top:25px;
  }
  #robin h2{
    color:black;
    text-align: center;
    border-bottom:2px solid  #00b172;
    display:inline;
  }
  #robin img{
    height: 70px;
  }
  #robin article{
    display: inline-block;
    margin-left: 155px;
    height: 200px;
    vertical-align: middle;
  }#joker{
    background-color: #00b172;
    margin:0px 30px 0px 30px;
    width: 100%;
    height: 800px;
    display: table;
  }
  #joker h2{
    margin: 20px 90px 20px 250px;
    color:White;
    border-bottom:2px solid white;
    font-size: 50px;
    
    display:inline-block;
  }#joker article{
    color:white;
    display: block;
    margin-left: 155px;
    height: 150px;
   
  }#joker img{
    height: 50%;
    
    width: 50;
  }
  #spotify-screen{
    width:2000px;
  }
  .logo2{
  height: 1px;
  
  
 
    
  }#spotify-logo{
    width:2000px;
  }