nav {
    margin: 1.5em 0 0 5%;
}

nav ul li a {
    margin: 0;
    text-decoration: none;
    padding: 1em;
    color: #000;
}

nav ul {
    list-style-type: none;
    float: right;
}

nav ul li {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5625em;
    font-weight: lighter;
    display: inline-block;
    padding: 0 1.4em .8em 0;
    align-items: right;
    margin-bottom: 0;
    /* padding-bottom: 0; */
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}

/* stroke */
nav.stroke ul li a,
nav.fill ul li a {
  position: relative;
}
nav.stroke ul li a:after,
nav.fill ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: #aaa;
  height: 1px;
}
nav.stroke ul li a:hover:after {
  width: 100%;
}

nav.fill ul li a {
  transition: all 2s;
}

nav.fill ul li a:after {
  text-align: left;
  content: '.';
  margin: 0;
  opacity: 0;
}
nav.fill ul li a:hover {
  color: #fff;
  z-index: 1;
}
nav.fill ul li a:hover:after {
  z-index: -10;
  animation: fill 1s forwards;
  -webkit-animation: fill 1s forwards;
  -moz-animation: fill 1s forwards;
  opacity: 1;
}

header {
    background-color: white;
    /* min-width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 75%;
    width: 15em;
    margin: 1em 0 1em 2em;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    background: url('https://ironhack.github.io/euro-coding-challenge/spotify/images/background.jpg?raw=true');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 768px;
}

h1, h2, p {
    font-family: 'Open Sans', sans-serif;
}

#center {
    margin: auto;
    justify-content: space-between;
}

#home {
    display: flex;
    align-items: center;
    justify-content: middle;
    text-align: center;
    margin-top: 10%;
    height: 600px;
}

#center h1 {
    font-size: 5em;
    color: #FFF;
    font-weight: 600;
    /* text-align: center; */
    margin-bottom: 20px; 
    /* margin-top: 90px; */
}

.text-focus-in {
	-webkit-animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.text-focus-in-second {
    -webkit-animation: text-focus-in-second 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in-second 3.2s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

#center h2 {
    color: #FFF;
    /* text-align: center; */
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 2220px; 
    font-size: 30px;
}

#arrow {
    color: yellow;
    display: block;
    font-size: 10em;
}

#second-section {
    background-image: none;
    background-color: #FFF;
    /* display: flex; */
    
}

#second-title {
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    padding-top: 35px;
    margin-bottom: 100px;

    animation: bounce 4s ease-out infinite running;
}

#second-title:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 22%;
    /* padding-top: 10px; */
    border-bottom: 3px solid #00c76f; 
}

.features-container {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto 200px auto;

}

ul.features-container {
    padding-left: 0;
}

.features {
    flex: 1;
    width: 20%;
}

.features h3 {
    color: #00c76f;
    margin-top: 0;
    font-size: 30px;
    font-weight: 600;
}

.features img {
    width: 30%;
    margin: 0 auto;
}

.features p {
    font-size: 25px;
    width: 70%;
    font-weight: 300;
    margin: 0 auto;
}

.kanye-west {
    display: flex;
    justify-content: space-between;
    background-color: #00c76f;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    margin: 3%;
    padding: 6%;
}

.kanye-west h3:first-child {
    border-bottom: 3px solid #FFF;
    width: 51%; 
}

.kanye-west h3 {
    font-size: 35px;
    margin-bottom: 25px;
    
}

h3.kanye-info:first-child {
    width: 70%;
}

.kanye-west p {
    font-size: 23px;
    margin-top: 0;
}


.kanye-flexcontainer {
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

#kanye-iphone {
    width: 80%;
    margin-left: 20%;
    flex-direction: row;
}

.kanye-info {
    width: 65%;
    /* margin: 0; */
    
}

/* ----------------------------------------------
 * Generated by Animista on 2018-7-7 12:33:6
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
  /**
 * ----------------------------------------
 * animation text-focus-in-second
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in-second {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in-second {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }


  
/* Keyframes */
@-webkit-keyframes fill {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #333;
    }
  }

  

  @keyframes bounce {
      0% {
        transform: scale(0); 
      }
      100% {
        transform: scale(1.5);
      }
  }
  


  /* MEDIA QUERIES */

  @media only screen and (max-width: 600px) {
    header {
        display: inline-block;
        font-size: 2em;
    }   
}

