/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
font-family: sans-serif;
margin: 0px;
}
.top img{
    float: left;
}
.top {

   position: fixed;
}
.top ul li  {
  

    padding-left: 10px;
    padding-right: 15px;
}
.topimg{
    background-image: url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
text-align: center;
width: 100%;

}
.topimg h1 {
   padding-top:230px;
color: white;
}

.ul2 li{
    display: inline;
}

.ul1 li{
    display: inline;
}

.li1{
    padding-left: 20px;
    padding-right: 30px;
    float: right;
    padding-top: 22px;
}
.li2{

    float: right;
  
}
.ul1{
    margin: 0px;

}

h1{
 font-size: 49px;
}
.blanco{
    color: white;
}
.topp{
   
    margin: 0 auto;
   padding-bottom: 220px;
}

.center1{
    padding-top: 40px;
  
    font-size: 35px;
   width: fit-content;
   margin: 0 auto;
    border-bottom: #00B172 3px solid;
}
.articleancho{
 width: fit-content;
margin: 0 auto;

padding:40px;
}
.articleancho2{
    width: 90%;
    margin: 0 auto;

  
    }
    .center2 {
     
      
    height: 130px;
       width: 130px;
       margin: 0 auto;
     
    }
    .center3 {
     
      
           width: 90%;
           margin: 0 auto;
         
        }
    .verde1{
        font-weight: bolder;
        font-size: 28px;
        color: #00B172;
    }

.texto1{
    width: 95%;
    text-align: center;
    margin: 0 auto;
    
}
.treselementos{
    width: fit-content;
    margin: 0 auto;

}
.cdos{
  float: left;
width: 50%;
margin: 0 auto;

}
.verde2{
    height: 600px;
    margin: 0 auto;
    background-color: #00B172 ;
    padding:30px;
    float: left;

}
.img2{
    
    height: 600px;
}
.img3{
    padding-top: 300px;
    height: 100px;
}
.titulo1{
    width: fit-content;
    padding:50px;
font-size: 29px;
border-bottom: solid white 3px;

}
.titulo2{
    width: fit-content;

font-size: 29px;
color: white;


}
.texto3{
    width: fit-content;

font-size: 18px;
color: white;


}