/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
 
html, body {
 margin: 0;
 padding: 0;
 font-family: "Roboto";
 background-color: white;
}

.spotify {
 width: 115px;
 margin-right: 2.5rem;

position: relative;
display: flex;
 transition: 0s;
    -webkit-box-flex: 0;
    flex: 0;
    padding: 0 40px;
    align-self: stretch;
}

.header-two {
  box-sizing: border-box;
  display: block;
  font-size: 16px;
  border-bottom: 1px solid #201c29;
  padding: auto;

}
nav ul {
  display: flex;
  list-style: none;
}

nav li {
  flex: auto ;
} 
