/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');
 
html, body {
 margin: 0;
 padding: 0;
 font-family: "Roboto";
 background-color: white;
}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
 list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;

 justify-content: flex-end;
 

}

nav a {
  text-decoration: none;
  color: #423e3e
}

.spotify {
width: 115px;
margin-right: 2.5rem;
}