/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: grey;
}

.spotify {
  width: 115px;
  margin-right: 2.5rem;
}
/*
.header {
  background: #00D1AE;
  height: 30px;
  margin-bottom: 10px;
  min-width: 725px;
  padding-top: 10px;
  width: 100%;
}
*/

.background-image {
 display: block;
    margin-left: auto;
    margin-right: auto
    
  }

/*
.header > div {
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgray;
  }
  
  */

  nav {
    width: 280px;
    position: fixed;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 0 25px;
  }
  
  nav a {
    text-decoration: none;
    color: black;
  }
  
  h1 {
    font-size: 80px; 
    color: white;
    text-align: center;
    align-items: center;
 }


  h2 {
    font-size: 30px; 
    color: black;
    text-align: center;
    align-items: center;
    text-decoration: underline;
 }

 

.music-for-everyone p {
    color: green;
    align-items: center;
  }
/*


 .spotify-boxes img {
  width: 100px; 
  color: #00B172;
}
.spotify-boxes h4 {
  font-size:20px; 
  color: #00B172;
}

.spotify-boxes p {
  font-size:12px; 
  color: grey;
}

.kanyewestboxes h4 {
  font-size:20px; 
  color: white;
  text-decoration: underline;
}

.kanyewestboxes h3 {
  font-size:20px; 
  color: black;
}

.kanyewestboxes p {
    font-size:15px; 
    color: white;

.greenbackground {
  background-color: #00B172
}

.greenbackground h2 {
    font-size: 30px; 
    color: black;
    text-align: center;
    align-items: center;
    text-decoration: underline;
 
