@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700|Roboto:100,300,700');

/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/

html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  background-color: white;
}
 
header > div {
  display: flex;
  padding: 0 25px;
  justify-content: space-between;
}
 
nav {
  width: 600px;
  position: fixed;
  margin-left: 1100px;
  padding-bottom: 50px;
}
 
nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
 
nav a {
  text-decoration: none;
  color: #00B172;
  font-size: 1.3em;
  font-weight: bold;
}
 
.spotify-logo {
  width: 150px;
  margin-right: 2.5rem;
}
 
#music-for-everyone {
  width: 100%;
  height: 1000px;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}
 
#music-for-everyone h1 {
  font-size: 5em;
  color: white;
}
 
#music-for-everyone p {
  font-size: 2em;
  color: white;
  margin:-0.1px;
}
 
.background-image {
  background-image: url("../images/landing.jpg");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
}
 
#spotify-boxes h2 {
  text-align: center;
  font-size: 32px;
  text-decoration: underline #00B172;
  text-underline-position: under;
  margin-left: auto;
  margin-right: auto;
 }

#spotify-boxes > div {
  display: flex;
  justify-content: space-evenly;
  position:relative;
}
 
#spotify-boxes img {
  width: 100px;
  margin-right: 1rem;
  padding-top : 70px;
  position:relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
 
#spotify-boxes h4 {
  font-size: 25px;
  color: #00B172;
  text-align: center;
}

#spotify-boxes p {
  font-size: 22px;
  color: black;
  text-align: center;
  width: 11em;
  padding-bottom: 60px;
}
 
#kanyewestboxes {
  background-color: #00B172;
  
}

#kanyewestboxes {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 auto;
}
 
#kanyewestboxes h2 {
  font-size: 32px;
  color: white;
  border-bottom: solid 4px white;
}
 
#kanyewestboxes h4 {
  font-size: 25px;
  color: white;
}
 
#kanyewestboxes p {
  font-size: 22px;
  color: white;
  text-align: left;
  width: 14.4em;
}
 
.spotify-icon {
  width: 140px;
  margin-right: 1rem;
}
 
.spotify-app {
  height: 550px;
  width: auto;
  margin: 5rem;
  padding: 30 24px;
  transform-origin: 0px 0px;
}