/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
  margin-top: 20px;
}

nav{
  background-image: url(https://res.cloudinary.com/esponjita/image/upload/v1521651997/landing.jpg);
  height: 800px;
  background-size: cover;
}