ul,
ol {
  list-style: none;
}
a {
  color: unset;
  text-decoration: none;
}
.w-10p {
  width: 10%;
}
.w-20p {
  width: 20%;
}
.w-30p {
  width: 30%;
}
.w-40p {
  width: 40%;
}
.w-50p {
  width: 50%;
}
.w-60p {
  width: 60%;
}
.w-70p {
  width: 70%;
}
.w-80p {
  width: 80%;
}
.w-90p {
  width: 90%;
}
.w-100p {
  width: 100%;
}

.w-10v {
  width: 10vw;
}
.w-20v {
  width: 20vw;
}
.w-30v {
  width: 30vw;
}
.w-40v {
  width: 40vw;
}
.w-50v {
  width: 50vw;
}
.w-60v {
  width: 60vw;
}
.w-70v {
  width: 70vw;
}
.w-80v {
  width: 80vw;
}
.w-90v {
  width: 90vw;
}
.w-100v {
  width: 100vw;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}

.p-1 {
  padding: 1em;
}
.p-2 {
  padding: 2em;
}
.p-3 {
  padding: 3em;
}

.p-h-1 {
  padding-right: 1em;
  padding-left: 1em;
}
.p-h-2 {
  padding-right: 2em;
  padding-left: 2em;
}

.p-v-1 {
  padding-top: 1em;
  padding-bottom: 1em;
}
.p-v-2 {
  padding-top: 2em;
  padding-bottom: 2em;
}

.g-1 {
  gap: 1rem;
}
.g-2 {
  gap: 2rem;
}

.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.pos-fix {
  position: fixed;
}

.flex {
  display: flex;
}
.f-row {
  flex-direction: row;
}
.f-col {
  flex-direction: column;
}
.f-hv-center {
  justify-content: center;
  align-items: center;
}
.f-h-center {
  justify-content: center;
}
.f-h-between {
  justify-content: space-between;
}
.f-h-baseline {
  justify-content: baseline;
}
.f-h-around {
  justify-content: space-around;
}
.f-h-evenly {
  justify-content: space-evenly;
}
.f-v-center {
  align-items: center;
}
