.w-10p {
  width: 10%;
}
.w-20p {
  width: 20%;
}
.w-30p {
  width: 30%;
}
.w-40p {
  width: 40%;
}
.w-50p {
  width: 50%;
}
.w-60p {
  width: 60%;
}
.w-70p {
  width: 70%;
}
.w-80p {
  width: 80%;
}
.w-90p {
  width: 90%;
}
.w-100p {
  width: 100%;
}

.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}

.g-1 {
  gap: 1rem;
}
.g-2 {
  gap: 2rem;
}

.pos-rel {
  position: relative;
}
.pos-abs {
  position: absolute;
}
.pos-fix {
  position: fixed;
}

.flex {
  display: flex;
}
.f-row {
  flex-direction: row;
}
.f-col {
  flex-direction: column;
}
.f-hv-center {
  justify-content: center;
  align-items: center;
}
.f-h-center {
  justify-content: center;
}
.f-h-between {
  justify-content: space-between;
}
.f-h-around {
  justify-content: space-around;
}
.f-h-evenly {
  justify-content: space-evenly;
}
.f-v-center {
  align-items: center;
}
