/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

nav {
    height: 3rem;
    background: lightgray;
}

.logo-image img {
    max-height: 2rem;
}
