/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/


html, body{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 1440px;
}


/* Section one! "head" */

#head header {
    display: flex;
    justify-content: space-between;
    margin: 25px 40px;
}

#head header img {
    width: 250px;
}

#head header nav {
    display: flex;
    align-items:center;
}

#head header ul {
    width: 450px;
    height: auto;
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}


li > a {
    text-decoration: none;
    color: 1A1A1A;
    font-size: 24px;
    color: #1A1A1A;
}


/* section two! "back" */

#back h1 {
    font-size: 70px;
    margin-bottom: 35px;
}

#back article {
    font-size: 32px;
    width: 900px;
    text-align: center;
}

#back article p {
    margin: 10px;
}

#back {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    background-image: url("../images/landing.jpg");
    background-size: 100%;
    height: 800px;
    width: 1440px;
}   


/* section three! "contnet" */
#contnet {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 500px;
    justify-content: space-around;
    margin-bottom: 100px;
    margin-top: 50px;
    
}

#contnet h2 {
    font-size: 40px;
    text-decoration: underline;
    text-underline-offset: 20px;
    text-decoration-color: #00B172;
    text-decoration-thickness: 4px;
}

.sptf-section {
    padding: 0px 100px;
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    width: 1440px;
}


.sptf-section div {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
} 

.sptf-section img{ 
    width: 130px;
    height: 100px;
}


.sptf-section div > h3 {
    font-size: 30px;
    color: #00B172;
}   

.sptf-section article {
    font-size: 25px;
} 



/* section four! "greenSection" */

#greenSection {
    height: 850px;
    width: 1440px;
    margin-bottom: 25px;
}

#greenSection .green-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00B172;
    margin: 40px;
    height: 840px;

}

#greenSection .green-box .info-box {
    height: 650px;
    width: 370px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 100px;
    padding-bottom: 100px;
    color: #FFF;

}


.info-box .top {
    width: 600px;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-underline-offset: 20px;
    margin-bottom: 50px;
    font-size: 35px;
}

.info-box h2 {
    font-size: 30px;
}

.info-box p {
    font-size: 23px;
}



.app-image {
    height: 650px;
    margin: 30px 100px 0px 30px;
}


.spotify-icon {
    height: 150px;
}

