/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    width: 200px;
}

nav {
    display: flex;
    
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

li {
    display:flex;
    align-items: center;
}

li a {
    padding: 0 10px;
    text-decoration: none;
    color: black;
}

#hero {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    background-position: center;
    height: 700px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 4rem;
}

#hero p {
    font-size: 2rem;
    font-weight: lighter;
    width: 50%;
    text-align: center;
    margin: 0;
}

h2 {
    display: inline-block;
    font-size: 3rem;
    color: black;
    border-bottom: 5px solid #00B172;
}

.text-center {
    text-align: center;
}

#arguments {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 1rem;
}

#arguments article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 30%;
    margin: 0 1rem;
}

article img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

h4 {
    text-align: center;
    font-size: 2rem;
    color: #00B172;
    margin: 0.5rem;
}

#arguments p {
    font-size: 1.2rem;
    font-weight: lighter;
}

#last-section {
    background-color: #00B172;
    padding: 5rem;  
    margin: Opx;
}

h3 {
   color: white; 
   font-size: 2rem;
   margin: 0;
   border-bottom: 5px solid white;
   display: inline-block;
}

.app-features {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

h5 {
    color: white;
    font-size: 1.5rem;
}

.articles {
    display: flex;
    flex-direction: column;
    justify-content: left;
}

.articles p {
    color: white;
    font-weight: lighter;
    width: 300px;
}


.white-logo {
    width: 150px;
}

.spotify-app {
    width: 300px;
}
