/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body {
    max-width: 100%;
    width: 100vw;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 5.5em;
}

/* Nav Bar*/
.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
}

.nav-bar img {
    width: 200px;
    height: 65px;
    margin-left: 20px;
}

.nav-bar ul {
    list-style: none;
    display: inline-flex;
    font-size: 1.8em;
    align-items: center;
    margin-right: 40px;
}

.nav-bar li {
    margin-left: 30px;
}

/*Title header*/
.title-w-image {
    background-image: url(/images/landing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 1000px;
    margin-top: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: white;
    text-align: center;
}

.title p {
    font-size: 2.5em;
    text-decoration: none;
}

/*Section 1 Explore*/
.explore {
    text-align: center;
    font-size: 2em;
}

.explore h2 {
    border-bottom: solid 5px;
    border-color: #00B172;
    margin: 40px 38%;
}
.explore p{
    font-size: 0.9em;
}

.explore div {
    display: inline-flex;
    justify-content: space-around;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

.explore article img {
    max-height: 120px;
}

.explore article {
    text-align: center;
    flex: 1 calc(50% - 20px);
    max-width: 400px;
    max-height: 400px;
    padding: 20px;
    margin: 30px 80px;
}

.explore article h3 {
    color: #00B172;
}

/*Section 2 Green Blook*/

.green-block{
    margin: 35px;
    background-color: #00B172;
    display: flex;
    justify-content: space-between;
    background-image: url(/images/spotify-icon-white.png);
    background-size: 180px 180px;
    background-repeat: no-repeat;
    background-position: center;
}
.left-text{
    margin: 40px 0 40px 80px;
    color:#FFF;
    width: 650px;
}
.left-text h2{
    text-align: center;
    font-size: 3em;
    border-bottom: solid 5px;
    border-color: #FFF;
    margin-bottom: 80px ;
}
.left-articles{
    width: 450px;
}
.left-text h3{
    font-size: 2.2em;
    margin: 60px auto;
}
.left-text p{
    font-size: 1.6em;
    margin:60px auto;
}
.app-img{
    max-height: 700px;
    margin: 150px 150px 150px 100px ;
}

