/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    margin:0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.logo{
    margin-left: 20px;
    max-height: 90px;
}

.navbar {
    /* position: absolute;
    width: 1440px;
    height: 95px;
    background: #F4F4F4; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 180px;
    margin-bottom: 0px;
}

.nav-bar-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* position: relative; */
    /* top: 25px; */
    /* left: 600px; */
    width: 650px;
    color: black;
    font-size: medium;
    list-style: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: normal;
    font-size: 20px;
    padding-right: 40px;
}

.landing-img {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: 900px;
}
.landing-top-text {
    position: absolute;
    width: fit-content;
    margin-top: 300px;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 110px;
    font-weight: normal;
}

.landing-sub-text {
    position: absolute;
    left: 50%;
    margin-top: 500px;
    width: 1100px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 40px;
    font-weight:lighter;
    text-align: center;  
}

.border-sub-header {
    /* left: 50%; */
    font-size: 45px;
    margin-top: 40px;
    padding-bottom: 10px;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
}

.info-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin-bottom: 0px;
}

h3 {
    color: green;
    font-size: 25px;
}

.yeezy_h3 {
    color: white;
    font-size: 20px;
}

.yeezy-top_h3 {
    color: white;
    font-size: 25px;
    border-bottom: 5px solid white;
    padding-bottom: 5px;
}

.yeezy_div {
    color: white;
    font-size: 15px;
    text-align: left;
    width: 250px;
}

.yeezy-image {
    width: 320px;
    margin-top: 120px;
    margin-right: 160px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    text-align: center;
}

.feature-sub-text {
    color: grey;
    font-weight: lighter;
    font-size: 20px;
}

.feature-symbol {
    width: 175px;
    margin-bottom: 20px;
}

.yeezy-section {
    background-color: #1BB76C;
    height: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.yeezy-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    width: 400px;
    height: 600px;
    text-align: center;
    border: 1px solid black;
    margin-left: 60px;
    margin-top: 60px;
}
  
  /* li {
      padding: 0px 15px;
  } */