@import url('https://fonts.googleapis.com/css2?family=Maven+Pro&display=swap');
* {
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body {
    font-family: 'Maven Pro', sans-serif;
}
.spotify-logo {
    height: 70px;
}
.flexbox-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flexbox-navbar a {
    text-decoration: none;
    color: black;
    margin: 15px;
    font-size: 1.5em;
}
.top-bar {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 40px;
    background-color: #FFF;
    height: 12.5vh;
    width: 100%;
    position: fixed;
    z-index: 10;
}
#section1 {
    position: relative;
    top: 12.5vh;
    width: 100%;
    height: 87.5vh;
    background-image: url(../images/landing.jpg);
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:#FFF;
    font-size: 2.1em;
}
h1 {
    font-size: 3em;
    padding-bottom: 60px;
}
#section2 {
    position:relative;
    width: 100%;
    top: 12.5vh;
    background-color: #FFF;
}
h2 {
    font-size: 2.5em;
    border-bottom: 4.5px solid #00B172;
    width: max-content;
    padding-bottom: 5px;
    margin: 50px auto;
}
.flexbox-argument {
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.argument {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 310px;
    font-size: 30px;
    margin : 50px 0;
}
h3 {
    font-size: 33px;
    padding: 30px 0;
    font-weight: bolder;
    color: #00B172;
}
.argument img {
    width: 150px;
}
#section3 {
    position: relative;
    top: 12.5vh;
    background-color: #00B172;
    background-image: url(../images/spotify-icon-white.png);
    background-size: 8%;
    background-position: center;
    background-repeat: no-repeat;
    border: 40px solid #FFF;
    display: flex;
    justify-content: space-between;
    align-items:center;
    color: #FFF;
}
#section3 h2 {
    border-bottom: 4.5px solid #FFF;
    margin: 0px;
}
#section3 h3 {
    color :#FFF;
    margin-top: 1.1em;
}
#section3 p {
    font-size: 1.5em;
}
#section3 > div {
    margin-left: 90px;
}
#section3 img {
    width: 340px;
    margin: 100px 90px;
}

