html,
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
nav {
    position:fixed;
    background-color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
nav .spotify-logo {
    width: 200px;
} 
nav ul {
    display: flex;
    flex-flow: row wrap;
    text-decoration: none;
}

nav ul li {
    padding-right: 30px;
    list-style: none;
    font-size: 20px;
}
.intro {
    background-image: url('../images/landing.jpg');
    background-size: contain;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 400px;
}
.intro-text {
    text-align: center;
}
.intro-text h1 {
    font-size: 50px;
}
.intro-text p {
    font-size: 25px;
}
.info h2 {
    font-size: 50px;
    text-align: center;
    border-bottom: 5px solid #1ed760;
    padding-bottom: 5px;
}
.info img{
    width:150px;
}
.info-img-list {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding-top: 25px;
}
.info-img-list h3 {
    font-size: 25px;
    color: #1ed760;
}
.info-img-list p {
    font-size: 18px;
}
.yeezy {
    background-color: #1ed760;
    color: white;
    display: flex;
    justify-content: center;
}
.outro {
    font-size: 25px;
    padding-top: 25px;
    text-decoration: underline;
}
.logo-white {
    width: 150px;
    height: 150px;
    align-self: center;
}
.application {
    width: 500px;
}
.griddy {
    align-self: center;
}
.griddy h4 {
    font-size: 25px;
}