/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body {
    margin: 0;
}

header {
    position: fixed;
    background-color: white;
    padding: 10px;
    align-items: center;
}

header img {
    width: 15%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}

li {
    text-decoration: none;
    color: #1a1a1a;
    list-style: none;
    margin-left: 10px;
}

a {
    text-decoration: none; 
    color: #1a1a1a;
}

.cover {
    background-image: url(../images/landing.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 250px;
}

p {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2em;
}

.music-for-everyone {
    justify-content: center;
}

h1 {
    color: white;
    font-size: 5em;
    text-align: center;
}

article p {
    color: black;
}

article img {
    width: 100px;
}

.columns {
    display: flex;
    justify-content: space-around;
    margin: 0 20px;
}

.articles {
    text-align: center;
    padding: 0 50px;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: cen;
}

.section2 h2 {
    text-align: center;
}