body{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 20px 0;
}

 .divLogo{
     display: flex;
     width: 15%;
 }
 .divLogo img{
     display: flex;
     width: 100%;
     margin-left: 30px;
 }

 .divUl{
     width: 100%;
     margin-right: 30px;
     align-items: center;
 }
 ul{
     display: flex;
     flex-direction: row;
     justify-content: flex-end;
     padding: 0;
}
li{
    display: flex;
     margin: 0 20px;
     text-decoration: none;
     font-size: 25px;
}
.divLanding{
    width: 100%;
    display: flex;
    justify-content: center;
}
.divLanding img{
    width: 100%;
}
.DivText{
    position: absolute;
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 200px;
}
.divLanding h1{
    position: absolute;
    width: 100%;
    font-size: 80px;
    color: white;
    text-align: center;
}
.DivText div{
    width: 100%;
    justify-content: center;
    display: flex;
}

.divLanding p{
    width: 600px;
    position: absolute;
    font-size: 25px;
    color: white;
    margin-top:250px;
    text-align: center;
}

h2{
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    font-size: 45px;
}

.divCaracteristicas{
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 0;
    
}
h3{
    font-size: 30px;
     margin: 30px 0 5px 0;
     color: rgb(54, 189, 144);
}
.Descriptions{
    display: flex;
    justify-content: center;
    margin: 60px 100px;
}
.divCaracteristicas div{
    justify-content: center;
    text-align: center;

}
.DivImageCara{
    display: flex;
}
.divCaracteristicas img{
    display: flex;
    width: 30%;
}
.DivpCara{
    display: flex;
    width: 100%;
    justify-content: center;
}
.DivpCara p {
    display: flex;
    width: 55%;
    text-align: center;
    font-size: 24px;
    color: rgb(139, 137, 137);
}

.section3{
    background-color: rgb(42, 187, 119);
    margin: 0 40px;
    flex-direction: column;
    display: flex;
    height: 840px;

}
.divTittleSection3{
    display: flex;
    width: 50%;
    margin-left:120px ;
}
h4{
    display: flex;
    font-size: 45px;
    color: rgb(255, 255, 255);
    padding-bottom: 7px;
    border-bottom: solid 2px white;
}
.divColumns{
    display: flex;
    margin-left: 120px;
    flex-direction: column;
    width: 50%;
}
.divColumns h5{
    color: white;
    font-size: 30px;
    margin: 8px 0;
    display: flex;
}
.divColumns p{
    color: rgba(255, 255, 255, 0.753);
    font-size: 27px;
    width: 53%;
    display: flex;
}


.divImageKanye{
    display: flex;
    position: absolute;
    justify-content: start;
    margin-left: 60%;
}
.divImageKanye img{
    display:flex;
    position: absolute;
    margin-top: 100px;
    width: 400px;
    height: 610px;
}

.Section33{
    width: 100%;
    margin: 0;
}
.divImagespoty{
    display: flex;
    position: absolute;
    justify-content: start;
    margin-left: 40%;
    margin-top: 13%;
}
.divImagespoty img{
    display:flex;
    position: absolute;
    margin-top: 100px;
    width: 180px;
    height: 180px;
}
