/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo{
    left: 0;
    width: 150px;
    height: 50px;
    text-align: left;
}
#navigation-container {
    width: 100%;
    margin: 0 auto;
    height: 70px;
  }

  .navigation-bar {
    background-color: white;
    height: 60px;
    width: 100%;
    text-align:right;
    border-style: none;
    position: fixed;
    top: 0;
  }
  .navigation-bar img{
  float:left;
  }
  .navigation-bar ul {
    padding: 5px;
    margin: 0px;
    text-align: center;
    display:inline-block;
    vertical-align:top;
  }

  .navigation-bar li {
    list-style-type: none;
    font-size:25px;
    font-weight: bold;
    color: black;
    padding: 10px;
    height: 24px;
    margin-top: 10px;
    margin-bottom: 4px;
    display: inline;
    justify-content: center;

  }
  .header{
      background-image: url("/images/landing.jpg");
      background-position: center;
      background-size: contain;
      height:700px;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  h1{
      text-align: center;
      padding: 150px 150px 25px 150px;

      color: white ;
      font-size:120px;
  }
.titre2{
    text-align: center;
    padding: 40px;
    color:black ;
    font-size: 50px;
    border-bottom: 3px solid green;
    width: 35%;
    position: relative;
    margin: auto;
}

  h2{
    color: white;
    padding: 10px;
    font-weight: bold;
    font-size: 35px;

}
h3{
      color: white;
      padding: 10px;
      font-size: 25px;
  }
.paragraphe{
    text-align: center;
    color: white;
    width: 600px;
    font-weight: lighter;

}

p{
    font-size: 25px;
    font-weight: bold;
    padding: 5px;

}
hr{
    width: 40%;
    margin-top: 15px;
    color: #00B172;
}

.contenair{
    display: flex;
    justify-content: space-around;
    flex-direction: row ;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
}
.icon p{
    text-align: center;
    font-weight: lighter;
}
.icon h3{
    display: flex;
    justify-content: center;
    color: #00B172;

}

.icon > img{
    display: flex;
    text-align: center;
    justify-content: center;
    width: 120px;
    height: 100px;

}


.yeezy{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    background-color: #00B172;
    margin: 5px 50px 25px 50px;
    height: 500px;
    width: 1300px;
    border: none;
    padding: 30px;

}
.yeezy p{
    color: white;
    padding: 5px;
    font-size: 15px;
    width: 450px;

}

.text h2{
    color: white;
    padding: 5px;
    border-bottom: 3px solid white;
    width: 500px;
}
.white-logo{
    position: absolute;
    top: 1450px;
    left: 40%;
    height: 150px;
    width: 150px;


}
.yeezy img{
    width: 250px;
    height: 450px;    
}