/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header img {
    height: 65%;
    margin-left: 40px;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}

menu {
    width: 35%;
}

menu ul {
    justify-content: space-around;
}

li a {
    text-decoration: none;
    color: #1a1a1a ;
}

.landing {
    background-image: url("../images/landing.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.landing *{
    margin: 0 auto;
    width: 50%;
    color: #fff;
    text-align: center;
}

h1 {
    font-size: 65px;
}

.landing p {
    padding: 30px 0;
    font-size: 24px;
}

p {
    font-weight: 300;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    margin: 60px 0;
    padding-bottom: 10px;
}

.features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;;
}

.features h2 {
    border-bottom: 4px solid #00B172;
    color: #1a1a1a;
}

.boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 50px 10vw;
}

.boxes-container div {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 50px;
}

.boxes-container img {
    height: 90px;
}

.boxes-container h3 {
    color: #00B172;
}

.boxes-container p {
    font-size: 20px;
    color: #1a1a1a;
}

h3 {
    font-size: 24px;
    margin-bottom: 0;
}

.showcase {
    height: 700px;
    background-color: #00B172;
    background-image: url("../images/spotify-icon-white.png");
    background-position: center;
    background-size: 120px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
    color: #fff;
    padding: 20px 0 60px 10vw;
}

.showcase h2 {
    border-bottom: 4px solid currentColor;
}

.showcase p {
    width: 26%;
    font-size: 18px;
}

.showcase img {
    width: 300px;
    margin: 80px 0 0 150px;
}