@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway:wght@200&display=swap");
body {
	background: #eee;
	color: #000;
	font-family: "Montserrat", sans-serif;
}

a {
	text-decoration: none;
	color: #fff;
}

/* MENÚ */
nav {
	/*border: 1px solid black;*/
	background: #000;
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	z-index: 100; /*Orden en la página*/
	overflow: hidden; /*Recortar contenido a nivel bloque*/
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav li {
	float: left;
}

nav li a {
	padding: 20px 20px;
	font-size: 1.2em;
	display: inline-block;
	text-decoration: none;
	text-align: center;
	color: #fff;
}

nav li a:hover {
	background: coral;
}

.myicono {
	color: #fff;
	display: none; /* ocultarlo */
}

/* BLOQUE */
#content {
	/*border: 1px solid black;*/
	max-width: 1180px;
	position: relative;
	top: 80px;
	margin: 0 auto;
}

#content header {
	/*border: 1px solid black;*/
	padding: 10px;
	background-color: #ddd;
}

#principal {
	/*border: 1px solid black;*/
	width: 40%;
	float: left;
	padding: 10px;
}

#secundaria {
	/*border: 1px solid black;*/
	width: 40%;
	float: left;
	padding: 10px;
}

#content aside {
	/*border: 1px solid black;*/
	width: 20%;
	float: left;
	padding: 5px;
}

#content footer {
	/*border: 1px solid black;*/
	clear: both;
	padding: 10px;
	background-color: #ddd;
	height: 100px;
}

/* DISEÑO RESPONSIVE */
@media screen and (max-width: 820px) {
	#content {
		padding: 0;
		max-width: 100%;
	}

	#principal {
		padding: 3%;
		width: 50%;
	}

	#secundaria {
		padding: 3%;
		width: 50%;
	}

	#content aside {
		/*border: 1px solid black;*/
		width: 100%;
		float: left;
		padding: 5px;
	}
}

@media screen and (max-width: 600px) {
	#content {
		width: auto;
	}

	#principal {
		padding: 3%;
		width: auto;
	}

	#secundaria {
		padding: 3%;
		width: auto;
	}

	#content aside {
		/*border: 1px solid black;*/
		width: auto;
		float: left;
		padding: 5px;
	}

	.myicono {
		font-size: 1.8em;
		display: block;
	}

	nav {
		padding: 10px;
	}

	nav li {
		display: none;
	}
}
