/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/* Esta es la seccion de las capsulas */
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:700%7CRoboto:100,300,70);

#capsula1{
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Roboto";
}

#capsula2{
    background-image: url("../images/landing.jpg");
    background-repeat: no-repeat;
    background-position: ;
    background-size: cover;
    height: 800px;
    width: auto;
    text-align: center;
}
#capsula3{display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;;
}
#capsula4{display: flex;
    flex-direction: row;
    background-color: #00B172;
}
/*contenedor del header*/
#capsula5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: auto;
    margin:0;
}
#capsula6 {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
#capsula7{display: flex;
    flex-direction: column;
}
#capsula8{display: flex;
    flex-direction: column;
}
#capsula9{display: flex;
    flex-direction: column;
}
#capsula10{display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#capsula11{display: flex;
    flex-direction: column;
}
#capsula12{display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
#capsula13{display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 40px;
    
}



/* Esta es la seccion de las imagenes*/

#SpotifyLogo img{
    display: inline-flex;
    width: 200px;
    padding: 30px;
}

#Landing{
    text-align: center;
    position: relative;
}

#Landing img{
    display: flex;
    flex-direction: column;
    height:25rem;
    width: 100%;
}

#spotify-icon-white{
    display: flex;
    align-items:center ;
}

#spotify-icon-white img{
    display: flex;
    height: 150px;
    width: 150px;
    flex-direction: column;
}

#kanyeSS{
    display: flex;
    flex-direction: column;
    margin: 150px 100px;
}

#kanyeSS img{
    display: flex;
    flex-direction: column;
    height: 500px;
}

.threeIcons{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.threeIcons img{
    height: 150px;
    width: 160px;
}

/*Otros elementos */ 
#capsula6 ul{
    display: flex;
    justify-content: space-evenly;
    width: 500px;
}

#capsula6 ul li{
    text-align: center;
    list-style-type: none;
    padding-top: 25px;
}

h1{
    padding-top: 50px;
    color: #FFF;
    margin: 200px;
    font-size: 6em;
}

h2{
    text-decoration: underline;
    text-decoration-color: #00B172;
    text-underline-offset: 5px;
}

h3{
    color: #00B172;
    font-size: 2em;
}
h4{
    color: #FFF;
    font-size: 3em;
}
h5{
    color: #FFF;
    font-size: 2em;
}

.summary{
    color: #FFF;
    margin: 0px 350px;
}

.contenedores{
    position: relative;
    margin: 50px;
}

h4{
    text-decoration: underline ;
    text-underline-offset: 5px;
}

.bottom{
    color: #FFF;
    padding-right: 300px;
}
p{
    font-size: 1.7em;
    
}