/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

html, body {
    font-family: "Open Sans";
    font-size: 20px;
    line-height: 2em;
    font-weight: 300;
    color: #1A1A1A;
    margin: 0px;
    padding: 0px;
  }

h1, h2, h3, p {
    font-family: 'Open Sans Condensed', sans-serif;
}

.nav-bar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    height: 80px;
    width: 100%;
    position: fixed;
}

.nav-elements {
    display: flex;
    justify-content: right;
    margin: 15px;
    align-items: center;
  }

.nav-elements li {
    display: inline-block;
    padding: 15px;
    width: fit-content;
    height: auto;
    list-style-type: none;
    text-align: center;
}

img {
    width: 22%;
    object-fit: contain;
    padding: 1rem;
}

header {
    background-image: url(../images/landing.jpg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 600px;
}

h1 {
    font-size: 80px;
    line-height: 65px;
    margin-top: 40px;
}

.header {
    background-image:url(/images/landing.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: -10px;
    margin-right: -10px;
    color: white;
    
}

h2{
    text-align: center;
    margin-bottom: 0;
    font-size: 32px;
}

#section1 {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.h2-underline {
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid #00B172;
    width: fit-content;
}

.h2-wrapper{
    display: flex;
  justify-content: space-between;
	align-items: center;
	align-content: center;
}

.container {
    color: #00B172
    margin: 0 auto;
    padding: 70px 50px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{
    font-size: 24px;
    margin-top: 40px;
}

p {
    font-size: 16px;
}


#section2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00b172;
}

#section2-kanye > h2 {
    color: #FFF;
    text-align: left;
    padding-bottom: 10px;
    border-bottom: 4px solid  #FFF;
    width: fit-content;
    margin-left: 16px;
  }

.section2-left {
    color:#FFF;
    align-items: baseline;
    padding: 0em 1em;
}

.section2-center > img {
    align-content: center;
    width: 125px;
    padding: 50px;
  }

.section2-right > img {
    align-content: center;
    width: 100%;
  
  }