* {
    margin: 0;
    padding: 0;
}

/* navbar*/

#navbar {
    background-color: white;
    width: 100%;
    color: #1A1A1A;
    position: fixed;
    z-index: 1;
}

#navbar>div {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    font-family: Arial, Helvetica, sans-serif;
}

.menu-links {
    margin: 5px 10px;
}

.spotify-logo {
    width: 100px;
    margin: 15px;
    float: left;
}


/*Section 1*/

#music-for-everyone {
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    height: 800px;
    width: 100%;
    position: relative;
    top: 60px;
    margin-bottom: 100px;
}

.background-photo {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#h1 {
    font-size: 4.5em;
    margin: 20px;
    text-align: center;
}

#article {
    font-size: 20px;
    text-align: center;
}

.sec-1-text {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*section 2*/

#whats-on-spotify{
    position: relative;
    height: 400px;
    background-color: white;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

#whats-on-spotify > h2{
    font-size: 3em;
    display: flex;
    justify-content: center;
    width: auto;
    text-decoration:underline 2px #00B172;
    margin-bottom: 50px;
}

#icon-menu{
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

#icon-menu img {
    width: 60px;
}

#icon-menu h3 {
    color: #00B172;
    margin: 15px 20px;
}

/*section 3*/
#yeezy-section{
    font-family: Arial, Helvetica, sans-serif;
    height: 700px;
    background-color: #00B172;
    margin: 0 15px;
    color: white;
    padding: 40px;
    display: flex;
}

#right img{
    width: 200px;
}



/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
