/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/
/*--------------------1st section and nav bar---------------------*/
body {
    font-family: 'Roboto', sans-serif;
}
#navbar {
    position: fixed; top:0;
    display: flex;
    text-align: flex-end;
    list-style: none;
    
}
#navbar ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: flex-end;
    float: inline-end;
}
/* no consigo poner la Ul del nav a la derecha*/

#navbar li {
    padding: 10px;
   }
#spotylogo {
    height: 60px;
    width: 200px;
}
.hero {
    background-image: url('../images/landing.jpg');
    height: 950px;
    background-repeat: no-repeat;
    background-size: cover;
}
.hero h1 {
    color: white;
    text-align: center;
    padding-top: 400px;
    font-size: 6vw;
}
.hero h3 {
    color: white;
    text-align: center;
    font-size: 2vw;
}
/*--------------------2nd section---------------------*/
#section2 h2 {
    text-align: center;
    text-decoration: underline #00B172;
    font-size: 3vw;
  }
  #section2 p {
      color: lightgray;
  }
  .sec2img {
      height: 50px;
      width: 50px;
  }
  .row {
    display: flex;
    flex-direction:row;
    text-align: left;
    justify-content: space-evenly;
    padding: 2vw;
    color:#1A1A1A ;
  }
  .row h3 {
      color:#00B172;
      font-weight: bolder;
  }

  /*--------------------3rd section---------------------*/

#section3 {
    background-color: #00B172;
    color: white;
    height: 450px;
}
#section3 h2 {
    text-decoration: underline;
}
.position{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
}

#kanye {
    height: 400px;
    width: 250px;
    padding-top: 20px;
  

}