/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 100vw;
    top: 0;
    background: white;
    z-index: 1;
    
} 

.logo {
    height: 50px;
    margin-left: 30px;
}

.links-container {
    width: 300px;
    justify-content: space-between;
    display: flex;
    margin-right: 50px;
}

.links-container > a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/*.music-for-everyone {
    margin-top: 80px;
    background-image: url("../images/landing.jpg");
    background-position: center;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.text-show {
    position: relative;
    color: white;
    height: 100px;
    text-align: center;
    margin-top: 20%;
}

.text-show h1{
    font-size: 5em;
    font-weight: bolder;
    margin-bottom: 30px;
}

.text-show p {
    font-size: 1.8em;
    font-weight: 600;
}

.show {
    position: absolute;
    width: 100vw;
}

.music-for-everyone {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    z-index: -1;
 }