/*
Colors:

Text: #1A1A1A
Green: #00B172
White: #FFF

*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 600px;
}

.nav-bar {
  /*position: fixed;*/
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  margin: auto;
}
.nav-bar ul li {
  list-style: none;
  display: inline-block;
  margin: 0 5px;
}
.nav-bar ul a {
  text-decoration: none;
  color: black;
}
.logo-img {
  height: 50px;
  cursor: pointer;
}

.hero-img {
  background: url("../images/landing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
}
.hero-div {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hero-div > h1 {
  font-size: 60px;
  padding: 40px;
  color: white;
  text-align: center;
}
.hero-div > p {
  width: 70%;
  font-size: 20px;
  color: white;
  text-align: center;
}

.section-3 > h2 {
  font-size: 40px;
  padding: 20px 10px;
  border-bottom: 3px solid #00b172;
  width: fit-content;
  margin: auto;
}
.section-3 > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 30px;
  width: 50%;
  padding: 30px;
}

.info img {
  width: 100px;
  margin: 0 auto;
  padding-top: 70px;
}

.info > h4 {
  font-size: 40px;
  color: #00b172;
  font-weight: bold;
}
