/* GENERAL */

html, h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: Fira Sans;
    font-size: 28px;
    font-weight: 400;
}

/* HEADER */

header {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 2%;
    margin-right: 2%;
}
 nav ol {
    display: flex;
    gap: 30px;
    list-style: none;
    color: #1A1A1A;
}

header img {
    height: 50%;
}

@media (max-width: 650px) {
    nav ol {
        display: none;
    }
    
}

/* MAIN SECTION - LANDING */

#main-section {
    height: 800px;
    background-image:url(../images/landing.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #FFF;
}

h1 {
    font-size: 6rem;
    text-align: center;
    font-weight: 400;
    padding-top: 250px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 40px;
    animation: appear 0.9s linear;
}

@keyframes appear {
    0% {
        padding-top: 225px;
        opacity: 0.5;
    }

    100% {
        padding-top: 250px;
        opacity: 1;
    }
}

#main-section p {
    text-align: center;
    padding: 0 25% 0 25%;
    margin: 0;
    font-weight: 300;
    font-size: 2rem;
}

@media (max-width: 650px) {
    h1 {
        font-size: 4rem;
    }
    #main-section p {
        font-size: 1.4rem;
        padding: 0 6% 0 6%;

    }
}

/* ARTICLES */

#line-articles {
    display: flex;
    align-items:first baseline;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 50px;
    margin-bottom: 130px;
}

@media (max-width: 650px) {
    #line-articles {
        flex-direction: column;
    }
    h2 {
        font-size: 1.3em;
    }
}

h2 {
    text-align: center;
    padding: 0;
    margin: 0;
    text-decoration: underline #00B172;
    text-underline-offset: 15px;
    font-weight: 500;
    margin-top: 60px;
}

article {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 400px;
    max-height: 400px;
    margin-top: 40px;
}

article img {
    width: 140px;
    text-align: center;
}

article img:hover {
    width: 135px;
    transition-property: width;
    transition-duration: 0.1;
    transition-timing-function: ease-in;
}

h3 {
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: 600;
    color: #00B172;
}

article p {
    font-weight: 300;
    margin-left: 40px;
    margin-right: 40px;
    color: #1A1A1A;
}

/* HOW TO */

#howto-section {
    background-color: #00B172;
    background-image: url(../images/spotify-icon-white.png);
    background-position: center;
    background-size: 150px auto;
    background-repeat: no-repeat;
    
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 2%;
    color: #FFF;
    height: 800px;

    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 25% 21% 22% 22%;
    grid-template-areas: 
    'title image'
    'search-div image'
    'browse-div image'
    'discover-div image';
}

@media (max-width: 650px) {
    #howto-section {
        background-image: none;
        display: flex;
        flex-direction: column;
    }
    #howto-section img {
        display: none;
    }

}

#howto-section h3 {
    color:#FFF;
    margin: 0;
}

#howto-section h2 {
    text-decoration: underline #FFF;
    margin-top: 80px;
    grid-area: title;
}

#search-div {
    grid-area: search-div;
}

#browse-div {
    grid-area: browse-div;
}

#discover-div {
    grid-area: discover-div;
    margin-top: 5%;
}

#howto-section img {
    grid-area: image;
    height: 85%;
    padding-top: 20%;
    margin-left: 35%;
}

#howto-section div {
    margin-left: 15%;
}

#howto-section p {
    font-weight: 300;
    margin-right: 45%;
    font-size: 24px;
    margin-top: 5%;
    line-height: 150%;
}