* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;

}
.navBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 15px;
    background-color: white;
    font-size: 1.3em;

}

.logo {
    width: 11%;
    margin-left: 20px;
}

.navOptions {
    width: 30%;
    display: flex;
    justify-content: space-around;
    list-style: none;
    align-items: center;
}

a {
    text-decoration: none;
    color: black;
}

header {
    background-image: url('../images/landing.jpg');
    background-size: cover;
    display: flex;
    padding: 400px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    font-size: 4.5em;
    margin-bottom: 40px;
}

.headerP {
    color: white;
    font-size: 2em;
    width: 70%;
    text-align: center;
}

h2 {
    text-align: center;
    font-size: 2.5em;
    font-weight: lighter;
}

.question {
    margin-top: 50px;
}

.line1 {
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #00B172;
}

.line2 {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}



.img {
    width: 35%;
    margin: 0 auto;
    margin-bottom: 20px;
    }

.imgReduce {
        width: 43%;
    }

.advantages {
    display:flex;
    justify-content: space-around;
    padding: 180px 250px;
}
.articleAdvantages {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h3advantages {
    color:#00B172;
    font-size: 2em;
    text-align: center;
    margin-bottom: 30px;
}

.padvantages {
    font-size: 1.3em;
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.app {
    background-color: #00B172;
    display: flex;
    color: white;
    justify-content: space-around;
    align-items: center;
    height: 600px;
    margin: 0 50px;
    margin-bottom: 50px;

}

.h2app {
    color: white;
    font-size: 2em;
    text-align: left;

}

.spotyappimg {
    width: 60%;
}

.logoWhite {
    width: 20%;
    margin-left: 200px;
}

.articleapp {
    margin: 5%;
}

.appText {
    margin: 20px 80px;
    line-height: 35px;
}

.pApp {
    line-height: 25px;
    width: 60%;
}

.h3app {
    font-size: 1.5em;
    padding-bottom: 15px;
}

/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
