/*
Colors:
Text: 1A1A1A
Green: #00B172
White: #FFF
*/

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
  }
  
  nav img {
    width: 15rem;
    margin-top: 5px;
  }
  
  .ciano {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background-color: white;
    box-sizing: content-box;
    padding: 0px 20px 5px 20px;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0px;
  }
  
  .ciano ul {
    list-style: none;
    display: flex;
    font-size: 23px;
    margin: 0 5px 0 5px;
    justify-content: space-around;
  }
  
  .ciano ul li {
    margin: 0 5px 0 5px;
  }
  
  .pink {
    background-image: url('../images/landing.jpg');
    background-position: center;
    background-size: cover;
    margin-top: 0px;
    height: 900px;
  }
  
  .pink h1 {
    color: #fff;
    font-size: 80px;
    display: flex;
    text-align: center;
    padding: 330px 300px 35px 320px;
  }
  
  .pink p {
    color: #fff;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 300px 0 300px;
    font-weight: lighter;
  }
  
  .red > h2 {
    font-size: 2.5rem;
    text-align: center;
    font-weight: bold;
    border-bottom: 5px solid #00b172;
    padding-bottom: 10px;
    margin: 50px 500px 0 500px;
  }
  
  .orange {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 50px 20px;
  }
  
  .yellow {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .yellow h2 {
    font-size: 25px;
    color: #00b172;
    font-weight: bolder;
    margin-top: 15px;
  }
  
  .yellow p {
    width: 200px;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    font-weight: lighter;
  }
  
  .yellow img {
    width: 100px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
  }
  
  .purple {
    background-color: #00b172;
    background-image: url(../images/spotify-icon-white.png);
    display: flex;
    background-repeat: no-repeat;
    background-size: 8rem;
    align-items: center;
    align-content: center;
    background-position: center;
    height: 760px;
    justify-content: space-between;
  }
  
  .white {
    width: 700px;
  }
  
  .white h2 {
    color: white;
    font-size: 40px;
    border-bottom: 4px solid #fff;
    padding-bottom: 10px;
    margin: 0 50px 0 150px;
  }
  
  .white h3 {
    color: white;
    font-size: 27px;
    font-weight: bolder;
    margin: 30px 0 30px 150px;
  }
  
  .white p {
    color: white;
    font-size: 20px;
    font-weight: lighter;
    box-sizing: border-box;
    margin: 0 270px 0 150px;
  }

  .kanye img {
    display: flex;
    justify-content: space-between;
    width: 300px;
    padding-right: 150px;
    margin-top: 60px;
  } 