/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
  }
  blockquote, q {
    quotes: none;
  }
  blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  }
  
  nav {
    background-color: #fff;
    height: 90px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:99999;
  }
  
  nav img {
    height: 60px;
    margin-left: 20px;
    padding: 15px;
    width: 200px;
  }
  
  nav ul {
    float: right;
    padding-right: 20px;
  }
  
  nav ul li {
    display: inline;
    font-size: 20px;
    line-height: 90px;
    padding: 0 18px;
  }
  
  nav ul li a {
    color: #111;
    text-decoration: none;
  }
  
  .banner-landing {
    background-image: url(../images/landing.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 120px;
    height: 700px;
  }
  
  .banner-landing {
    color: #fff;
    text-align: center;
  }
  
  .banner-landing h1 {
    font-size: 75px;
    font-weight: bold;
    padding-top: 185px;
  }
  
  .banner-landing h2 {
    font-size: 28px;
    padding-top: 20px;
  }
  
  .whats-on {
    margin-bottom: 50px;
    padding-top: 20px;
    text-align: center;
  }
  
  .whats-on h3 {
    border-bottom: 5px solid #1EA758;
    display: inline-block;
    font-size: 35px;
    font-weight: 1000;
    line-height: 60px;
  }
  
  .icon-in-place img {
    height: 95px;
    width: 110px;
  }
  
  .theme-topics-inclusion {
    background-color: #fff;
    height: 450px;
    margin: auto;
    text-align: center;
  }
  
  .icon-in-place {
    box-sizing: border-box;
    float: left;
    padding: 0 95px;
    width: 33%;
  }
  
  .icon-in-place h4 {
    color: #1EA758;
    font-size: 28px;
    font-weight: bold;
    padding: 20px;
  }
  
  .icon-in-place p {
    font-size: 20px;
  }
  
  .green-block {
    background-color: #1EA758;
    color: #fff;
    height: 650px;
    margin: 50px;
    padding: 60px 90px;
    position: relative;
  }
  
  .text {
    float: left;
    padding-right: 10%;
    width: 52%;
  }
  
  .text h3 {
    border-bottom: 4px solid #fff;
    display: inline-block;
    line-height: 60px;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 30px;
  }
  
  .text h4 {
    font-size: 30px;
    font-weight: bold;
    margin: 30px 0;
  }
  
  .text p {
    font-size: 20px;
    line-height: 30px;
    padding-right: 200px;
  }
  
  .mobile-app-image {
    float: right;
    padding-top: 20px;
    width: 350px;
  }
  
  .logo-placement {
    height: 120px;
    left: 44%;
    position: absolute;
    top: 45%;
    width: 120px;
  }