/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
/*Navbar style*/
.navbar {
    position: fixed;
  }
  
  .elvan_menu_div {
    float: left;
    padding-left: 32px;
  }
  
  .elvan_border_red_1 {
    border: 0px solid red;
  }
  
  .nav-list {
    float: right;
  }
  .myfontstyle1 {
    
    color: green;
    font-size: 20pt;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .elvanstyle2 {
    
    padding-top: 10px;
    text-align: left;
    color: white;
    font-size: 15pt;
  }
  .main {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/landing.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
  }
  .navbar.nav-list {
    display: inline-block;
  }
  .navbar-logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
  }
  
  navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
  }
  
  