body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

/* Header */
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
}

.logo {
    width: 150px;
    height: auto;
    margin: 10px 0px 10px 30px;
}

nav {
    width: 400px;
    margin-right: 30px;
    font-weight: 300;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    background-image: url('/images/landing.jpg');
    height: 600px;
    background-size: cover;
    background-repeat: none;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FFF;   
}

.title h1 {
   font-size: 60px;
   font-weight: 500;
   margin-top: -80px;
   text-align: center;
}

.title p {
    font-size: 20px;
    text-align: center;
    margin: 0px 250px;
}

/* What's on */
.whatsOn {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.whatsOn h3 {
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 4px solid #00B172;
    padding-top: 10px;
}

.chars {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;

}

.item {
   width: 200px;
   margin: 0px 40px 50px 40px;
}

.item h4 {
    font-size: 20px;
    color: #00B172;
    margin-top: 10px;
}

.item p {
    font-weight: 200;
    word-wrap: ;
}

.item img {
    width: 80px;
    height: auto;
    padding-top: 40px;
}

.hq {
    padding-bottom: 10px;
}

/* Bottom */
.bottom {
    color: #FFF;
    background-color: #00B172;
    padding: 30px 60px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text h3 {
    font-size: 25px;
    padding-bottom: 5px;
    border-bottom: 3px solid #FFF;
}

.text h4 {
    font-weight: 600;
    font-size: 20px;
}

.text p {
    font-size: 15px;
    font-weight: 200;
    margin-top: 0px;
    width: 80%;
}

.whiteLogo {
    height: 90px;
    width: 90px;
    display: flex;
    margin-left: -50px;
}

.app {
    width: 250px;
    padding: 40px 10px;
}




/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
