/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

body{
    background-color: white;
}

nav {
    height: 60px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items:center;
}
nav ul {
    display: flex;
}
nav ul li {
    padding: 0px 20px;
    list-style-type: none;
}

.spo-logo {
    background-size: cover;
    background-position: center;
    width: 200px;
    height: 60px

}

.music-img{
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: 600px; 
}

.middle-part {
    height: 550px;
    color:1A1A1A;
    font-size: 24px;
    text-align: center; 
    padding-top: 40px;
}

.middle-part h2{
    padding-top: 20px;
}

.box-items{
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.box-items div{      
    padding-top: 70px;
    float: left;
    position: relative;   
    font-size: 18px;
    margin:40px;
    width: 23%;
    
   }
.box-items img {
    height: 70px;     
}

.box-items p{
    color: green;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
}

.bottom-green{
    background-color: #00B172;
    height: 650px;
    clear:both;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-green .bottom-left{
    width :40%;
    margin:35px;
 }

 .bottom-left p{
    font-size: 20px; 
    color: white;   
    font-family: Arial, Helvetica, sans-serif;
      
}

.bottom-left h1{
    color: white;
    font-size: 32px;
    border-bottom:2px solid rgb(252, 252, 252);
    padding-top: 10px;
}

.bottom-left h2{
    padding: 30px 0px;
    color: white;
}

.bottom-green .white-icon{
    width: 70px;
    height: 120px;
}

.bottom-green img{
    width: 25%;
    height: 500px;
    margin: 5% 10% 0 0;
}

.music-img h1{
    color: white;
    font-size: 90px;
    text-align: center;
    padding-top: 20%;
}

.music-img p{  color: white;
    font-size: 24px;
    padding-top: 20px;
    text-align: center;
    font-weight:200;
    font-family: Arial, Helvetica, sans-serif;

}