.diff{
    width: 150px;
}
.container {
  position: relative;
  text-align: center;
}
.one{
    position: absolute;
    top: 258px;
    left: 311px;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.two{
    position: absolute;
    top: 364px;
    left: 309px;
    color: white;
    font-size: 25px;
}
.three{
    position:absolute;
    top: 392px;
    left: 352px;
    color: white;
    font-size: 25px;
}
.land{
    width: 100%;
    height: 600px;
}
.nav2{
    display: flex;
}
.container2 h2{
    text-align: center;
}
.box{
    
    padding: 2px;
    margin: 5px;
   
}
#services{
    display: flex;
    
}
.services-container h1{
    text-align: center;
    padding: 23px;
    margin: 2px;
}
.services-container h2{
    text-align: center;
}
.box{
    
    padding: 2px;
    margin: 90px;
    
}
.box img{
    width: 230px;
    display: block;
    margin: auto;
}
.flexkare{
    display: flex;
}
.box h2,p{
    text-align: center;
}
.box h2{
    color: rgb(3, 190, 3);
}
.container2{
    position: relative;
    height:  591px;
    background-color: rgb(23, 151, 77);
    color: white;
}
.container2 p{
    text-align: left;
}
p{
    font-size: 18px;
}
.container2 h{
    font-size: 24px;
    font-weight: bold;
}
.container2 h1{
    position: absolute;
    left: 108px;
    text-decoration: underline;
}
.green1{
    position: absolute;
    top: 93px;
    left: 108px;
}
.green2{
    position: absolute;
    top: 243px;
    left: 108px;
}
.green3{
    position: absolute;
    top: 431px;
    left: 108px;
}
.green4{
    position: absolute;
    top: 270px;
    left: 538px;
}
.green5{
    position: absolute;
    top: 68px;
    left: 840px;
}
.green4 img{
    width: 100px;
}
.green5 img{
    width: 280px;
}
