/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

p{
    font-size: 30px;
}

nav{
    height: 100px;
    width: calc(100% - 200px);
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 0 100px;
}

nav img{
    height: 50px;
}

nav a{
    margin: 0 10px;
    text-decoration: none;
    color: #1A1A1A;
    font-size: 25px;
}

#landing{
    background-image: url("../images/landing.jpg");
    background-size: cover;
    text-align: center;
    height: 100vh;
    align-items: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    background-position: 0 0;
    background-repeat: no-repeat;
}

#landing h1,p{
    color: #fff;
}

#landing h1{
    font-size: 100px;
    margin: 0;
}

#landing p{
    font-size: 35px;
}

#whats-on-spotify{
    margin-top: 100px;
    text-align: center;
}



#main-container{
    display: flex;
    justify-content: space-evenly;
    height: 350px;
}

.container{
    width: 30%;
    height: 100%;
}

.container img{
    width: 45%;
    height: 45%;
}

.container h1{
    color: #00B172;
}

.container p{
    color: #1A1A1A;
}

#kanye{
    margin-top: 100px;
    background-color: #00B172;
    background-image: url("../images/spotify-icon-white.png");
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 1000px;
    align-items: center;
}

.left-side h1, h2{
    color: #fff;
}

.left-side h1{
    font-size: 50px;
}

.left-side h2{
    font-size: 40px;
}

#kanye img{
    height: 75%;
}

#kanye h1{
    border-style: none none solid none;
    border-color: #fff;
}





