/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

.spotify-logo {
    display: flex;
    height: 100px;
}

.navbar {
    display: flex;
    align-content: space-between;
    position: fixed;
    z-index: 100;
    }

.navbar-link {
    color: black;
    text-decoration: none;
    position: relative;
    margin-left: 200px;
    margin-top: 50px;
}
#section1 {
position: relative;
top: 100px;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
 align-items: center;
 height: 800px;
 background-image: url(./../images/landing.jpg);
 background-repeat: no-repeat;
 background-size: 100%;
 text-align: center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 
}


.body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#section1 h1, #section1 h2 {
    z-index: 100;
    color: white;
    display: block;
}

.h1 {
    font-size: 80px;
}

.section2 {
    position: relative;
    margin-top: 150px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    }

    .section2 .block-container{
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .question {
position: relative;
    }

.titles {
    color: #00B172;
}

.music-icon {
    height: 65px;
}

.high-quality {
    height: 65px;
}

.devices {
    height: 65px;
}

.yeezy {
    display: flex;
    
    margin-left: 600px;
}

.kanye {
    height: 450px;
}

.block-container2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: #00B172;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    width: 100vw;
}

.whiteicon {
    height: 100px;
}

.hr {
    margin-left: 500px;
    margin-right: 500px;
}