/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;

}

img {
    width: 100%;
}

.main-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 20px;
    font-size: 20px;
}

.main-menu img {
    width: 250px;
}

.nav-bar ul {
    display: flex;
    list-style: none;
    text-decoration: none;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar li {
    margin: 0 27px;
}

.banner {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 850px;
    color: #FFF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.banner h1 {
    font-size: 90px;
}

.banner p {
    font-size: 30px;
    margin: 0;
}

.general-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.general-info h2 {
    font-size: 2em;
}

.services-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-left: 90px;
}

.services-container h3 {
    color: #00B172;
}

.services-container article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.services-container img {
    width: 150px;
}

.container-green {
    display: flex;
    justify-content: space-around;
    background-color: #00B172;
    color: #FFF;
    height: 600px;
    align-items: center;
}

.app-screen {
    width: 300px;
}

.container-green-boxes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 500px;
    font-size: 20px;
}

.container-green-boxes h2 {
    font-size: 2em;
}

.container-green-boxes h3 {
    font-size: 1.4em;
}

.container-green-boxes article {
    font-size: 18px;
}

