html,
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content:space-between;
    
}


ul {
    display: flex;
    justify-content:space-between;
   }
   
   li {
    flex-grow: 1;
    padding-left: 20px;
    list-style:none;
    font-size: 20px;
    margin-top: 15px;
    padding-right: 30px;
    

   }
a{
    text-decoration: none;
    color: #383847;
}
    .img-nav{
        display:inline-block;
        height: 60px;
        margin-left:30px ;
        margin-top: 20px;
        margin-bottom: 50px;
    }

.section{
    background-image: url('../images/landing.jpg');
    background-size: cover;
    height: 900px;
    display: flex;
    flex-direction: column;    
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;

}
.music-title{
    font-size: 50px;
    color: #FFF;
    display: flex;
    
    
    
}
   .p-music{
    font-size: 20px;
    color: #FFF;

   }

#features {
  position: relative;
  text-align: center;
}
h2 {
  color: #fff;
  text-align: center;
    font-size: 25px;
}
#features > h3 {
  color: black;
  text-align: center;
  font-size: 25px;
}
.boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}
.box1 > img {
  width: 100px;
}
.box1 > h4 {
  font-size: 25px;
  font-weight: bold;
  color: #00b172;
}
.box2 > img {
  width: 100px;
  padding: 10px;
}
.box2 > h4 {
  font-size: 25px;
  font-weight: bold;
  color: #00b172;
}
.box3 > img {
  width: 100px;
  padding: 5px;
}
.box3 > h4 {
  font-size: 25px;
  font-weight: bold;
  color: #00b172;
}
span {
  font-size: 20px;
  font-weight: lighter;
  color: #1a1a1a;
}

#green-background {
  position: relative;
  background-color: #00b172;
  display: flex;
  justify-self: center;
  align-items: center;
  align-content: center;
  color: #fff;
  margin: 3%;
  padding: 3%;
  height: auto;
}
.green-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  width: 85%;
}
.spotify-icon {
  width: 90px;
}

.spotify-app {
  width: 90%;
  float: right;
}

.green-content {
  text-align: left;
}
#green-background h5 {
  width: auto;
  font-weight: bold;
  font-size: 32px;
  text-align: left;
  text-decoration: underline;
}

#green-background h6 {
  font-weight: bold;
  font-size: 30px;
}

#green-background > h6 > p {
  font-weight: bold;
  font-size: 30px;
  text-align: left;
}

#green-background .green-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

#green-background .green-box-image1 {
  width: 10%;
}

#green-background .green-box-image2 {
  width: 45%;
}
.green-box-image2 {
  width: 200px;
}
h3 {
  text-decoration: underline;
}