/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1 {
    color: white;
    font-size: 5rem;
    padding-top: 22rem;
}

h2 {
    font-size: 2.2rem;
    text-decoration: underline;
    text-underline-position: under;
    text-align: center;
}

nav {
    position: fixed;
    width: 100%;
    height: 6rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 4rem;
    padding-left: 1rem;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-link {
    list-style-type: none;
    margin-right: 2rem;
    font-size: 1.3rem;
    font-weight: 300;
}

.header-image {
    height: 1000px;
    background-image: url(/images/landing.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.header-image > p {
    color: white;
    font-size: 2rem;
    font-weight: 300;
    margin-left: 19rem;
    margin-right: 19rem;
    padding-top: 2rem;
    text-align: center;
}

.header-s2 {
    padding-top: 2rem;
    text-decoration-color: #00B172;
}

.three-elements {
    padding-top: 6rem;
    display: flex;
    justify-content: space-around;
}

.one-element {
    width: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 7rem;
}

.element-title {
    color: #00B172;
    font-size: 1.8rem;
    padding-top: 1rem;
}

.element-description {
    font-size: 1.6rem;
    font-weight: 200;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 4rem;
}

.green-container {
    height: 52rem;
    background-color: #00B172;
    margin: 2rem;
    color: white;
    display: flex;
    justify-content: space-around;
}

.logo-white {
    height: 9rem;
    position: absolute;
    left: 50%;
    margin-top: 25rem;
    transform: translate(-50%, -50%);
}

.main-text {
    width: 35rem;
}

.app-img {
    height: 40rem;
    margin-top: 7rem;
}

.green-div-title {
    text-align: start;
    margin-top: 4rem;
    padding-bottom: 1rem;
}

.green-div {
    width: 21rem;
}

.sec-tit {
    font-size: 1.8rem;
    padding-top: 3rem;
}

.sec-p {
    padding-top: 3rem;
    font-size: 1.4rem;
    font-weight: 200;
}