/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
* {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}
h1 {
  font-weight: 500;
  font-size: 78px;
  margin-bottom: 4%;
}
a {
  color: black;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 3%;
  margin: 1% 0;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}
nav ul a {
  font-weight: 300;
  margin: 0 15px;
}
.icons {
  width: 20%;
}
#icons-display {
  margin: 2% 7%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#icons-display h3 {
  color: #00b172;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 5%;
}
#icons-display p {
  font-size: 20px;
  font-weight: 100;
}

#main-text {
  color: white;
  width: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 70%;
  left: 50%;
  padding: 20px;
  resize: both;
  overflow: auto;
  text-align: center;
}
#main-text p {
  font-size: 30px;
  font-weight: 200;
}
#icons-title {
  margin: 5% 0 0 40%;
  align-items: center;
  border-bottom: solid 3px #00b172;
  width: 20%;
}
#icons-title h2 {
  font-size: 32px;
  margin-top: 5%;
  text-align: center;
}

#green-section {
  background-color: #00b172;
  color: #fff;
  margin: 3%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#green-section h4 {
  font-size: 32px;
  font-weight: 400;
}
#green-section p {
  font-size: 26px;
  font-weight: 200;
}
#green-section p,
h4 {
  margin-bottom: 5%;
}
#text-green {
  width: 30%;
}
#text-green div {
  border-bottom: solid 3px #fff;
  margin-bottom: 10%;
}
#text-green h2 {
  font-size: 32px;
}
#spotify-logo {
  width: 17%;
}
#kayne-photo {
  width: 20%;
  padding: 5%;
}
#spotify-white {
  position: absolute;
  width: 7%;
}
#landing {
  width: 100%;
}
