/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/

.bar{
    display: flex;
    justify-content: flex-end;
    color: black;
}

#logo{
    width: 100px;
    display: inline;
}

#conc{
    width: 1330px;
}

.centrado{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-family: arial;
    font-size: 70px;
}

.centrado2{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-55%);
    color: white;
    font-family: arial;
    font-size: 18px;
    text-align: center;    
}

#icon1{
    width: 180px;
}

#icon2{
    width: 180px;
}

#icon3{
    width: 180px;
}

h3{
    display: inline;
}

h4{
    background-color: rgb(0, 255, 149);

}

#app{
    display: inline;
    width: 400px;
    right: auto;
}

#Spotify{
    width: 50px;
    margin-right: 50%;
}
